.advantages {
  width: 1920rem;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* .advantages__container */

  &__container {
  }

  /* .advantages__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .advantages__swiper-box */

  &__swiper-box {
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .advantages__swiper */

  &__swiper {
    width: 100%;
    overflow: visible !important;
    @include small-tablet {
      width: calc(100% + 20rem);
      margin: -6rem -10rem !important;
    }
  }

  /* .advantages__swiper-wrapper */

  &__swiper-wrapper {
    flex-direction: row !important;
  }

  /* .advantages__slide */

  &__slide {
    height: auto !important;
    @include small-tablet {
      padding: 6rem 12rem;
    }
  }

  /* .advantages__pagination */

  &__pagination {
    @include desk-only {
      display: none;
    }
  }
}

.advantages-el {
  padding: 20rem;
  border: 2rem solid $text-primary;
  overflow: hidden;
  gap: 70rem;
  min-height: 316rem;
  height: 100%;
  position: relative;
  @include small-tablet {
    min-height: 280rem;
    padding: 16rem;
    gap: 12rem;
  }

  /* .advantages-el__svg */

  &__svg {
    width: 52rem;
    height: 52rem;
    @include small-tablet {
      width: 40rem;
      height: 40rem;
    }
  }

  /* .advantages-el__text */

  &__text {
    gap: 12rem;
    flex-grow: 1;
    & .txt20 {
      min-height: 50rem;
      display: flex;
      align-items: center;
      @include small-tablet {
        min-height: unset;
        font-size: 16rem;
      }
    }
  }
  & .txt16 {
    @include small-tablet {
      font-size: 15rem;
    }
  }
}
