.brands {

  /* .brands__container */

  &__container {
  }

  /* .brands__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .brands__list */

  &__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 40rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }
}

