.brands-gallery {
  /* .brands-gallery__container */

  &__container {
  }

  /* .brands-gallery__inner */

  &__inner {
    position: relative;

    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .brands-gallery__head */

  &__head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-left: 880rem;
    @include small-tablet {
      padding-left: 0;
      position: relative;
    }
  }

  /* .brands-gallery__title-box */

  &__title-box {
    gap: 8rem;
    @include small-tablet {
      & br {
        display: none;
      }
    }
  }

  /* .brands-gallery__title-info */

  &__title-info {
    gap: 28rem;
  }

  /* .brands-gallery__btn-box */

  &__btn-box {
    height: fit-content;
  }

  /* .brands-gallery__btn */

  &__btn {
  }

  /* .brands-gallery__btn--prev */

  &__btn--prev {
  }

  /* .brands-gallery__btn-next */

  &__btn-next {
  }

  /* .brands-gallery__swiper-box */

  &__swiper-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }

  /* .brands-gallery__swiper */

  &__swiper {
    overflow: visible !important;
    width: 100%;
  }

  /* .brands-gallery__swiper-wrapper */

  &__swiper-wrapper {
    @include desk-only {
      align-items: flex-end !important;
    }
  }

  /* .brands-gallery__slide */

  &__slide {
    @include desk-only {
      &,
      &.swiper-slide-active {
        width: 840rem !important;
        height: 773rem !important;
        transition: width 0.8s, height 0.8s, opacity 0.8s !important;
        & .brands-gallery__item {
          padding: 20rem 48rem 48rem 60rem;
        }
        & .brands-gallery__title {
          text-align: left;
        }
        & .brands-gallery__brand {
          width: 100%;
          height: 521rem;
        }
        & .brands-gallery__desc {
          opacity: 1;
        }
      }
      opacity: 0;
      &.swiper-slide-active {
        opacity: 1;
      }
      &.swiper-slide-active ~ .swiper-slide {
        width: 399rem !important;
        height: 359rem !important;
        opacity: 1;
        & .brands-gallery__title {
          text-align: center;
        }
        & .brands-gallery__item {
          padding: 0 0 35rem;
        }
        & .brands-gallery__desc {
          opacity: 0;
        }
        & .brands-gallery__brand {
          width: 100%;
          height: 246rem;
        }
      }
    }
    @include small-tablet {
      height: auto !important;
    }
  }

  /* .brands-gallery__item */

  &__item {
    border: 2rem solid $text-primary;
    background: $primary-bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: padding 0.3s;
    position: relative;
    overflow: hidden;
    gap: 38rem;
    justify-content: space-between;
    transition: background 0.3s;
    @include small-tablet {
      padding: 16rem;
      gap: 40rem;
      height: 100%;
    }
    @include desk-only {
      &:hover {
        background: rgba(11, 42, 52, 0.4);
        border: 2rem solid $accent;
        & .brands-gallery__arr {
          opacity: 1;
        }
        & .brands-gallery__img {
          transform: translateX(0);
        }
        & .brands-gallery__brand,
        & .brands-gallery__text {
          opacity: 0.2;
        }
      }
    }
  }

  /* .brands-gallery__brand */

  &__brand {
    transition: width 0.8s, height 0.8s, opacity 0.3s;
    @include small-tablet {
      width: 311rem;
      height: 190rem;
    }
    & img {
      object-fit: contain;
    }
  }

  /* .brands-gallery__text */

  &__text {
    gap: 16rem;
    transition: opacity 0.3s;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .brands-gallery__title */

  &__title {
  }

  /* .brands-gallery__desc */

  &__desc {
    transition: opacity 0.8s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include small-tablet {
      font-size: 12rem;
    }
  }

  /* .brands-gallery__arr */

  &__arr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20rem;
    width: 40rem;
    height: 40rem;
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* .brands-gallery__img */

  &__img {
    position: absolute;
    width: 77%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-105%);
    pointer-events: none;
    transition: transform 0.5s;
  }

  /* .brands-gallery__pagin */

  &__pagin {
  }
}
