.contacts {
  &--grid {
    & .contacts__inner {
      @include desk-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28rem 40rem;
      }
    }
    & .contacts__content {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    & .contacts__map-wrap {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    & .contacts__map-wrap {
    }
    & .contacts__info {
      @include desk-only {
        padding: 0;
        border: unset;
      }
    }
    & .contacts__mail-list {
      grid-template-columns: repeat(3, 1fr);
    }
    & .contacts__item:last-of-type {
      grid-column: 1/3;
    }

    & .contacts__head {
      gap: 36rem;
    }
    & .contacts__title {
      gap: 18rem;
    }
  }

  &--det {
    & .contacts__item-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10rem;
      @include small-tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    gap: 8rem;
      }
    }
    & .contacts__item-item {
      gap: 20rem;
      @include small-tablet {
        flex-direction: column;
        gap: 4rem; align-items: flex-start;
      }
    }
    & .contacts__info {
      gap: 32rem;
      display: flex;
      flex-direction: column;
      @include small-tablet {
        gap: 16rem;
      }
    }
  }

  /* .contacts__details */

  &__details {
    border: 2rem solid $text-primary;
    padding: 53rem 56rem;
    gap: 20rem;
    @include small-tablet {
      padding: 16rem;
      gap: 16rem;
    }
  }

  /* .contacts__det-list */

  &__det-list {
    width: 457rem;
    gap: 16rem;
    @include small-tablet {
      width: 100%;
    }
  }

  /* .contacts__det-item */

  &__det-item {
  }

  /* .contacts__container */

  &__container {
  }

  /* .contacts__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .contacts__content */

  &__content {
    gap: 40rem;
    grid-template-columns: repeat(2, 1fr);
    @include small-tablet {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 0;

      &.isOpen {
        & .contacts__map {
          height: 100%;
          bottom: 0;
        }

        & .contacts__info {
          opacity: 0;
          pointer-events: none;
        }

        & .contacts__map-inc-svg {
          &:nth-child(1) {
            scale: 0;
          }
          &:nth-child(2) {
            scale: 1;
          }
        }
      }
    }
  }

  &__map-inc {
    display: none;
    @include small-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 15;
      width: 36rem;
      height: 36rem;
      top: 16rem;
      right: 16rem;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background: $accent;
    }
  }
  &__map-inc-svg {
    position: absolute;
    transition: scale 0.3s;
    &:nth-child(1) {
      scale: 1;
      width: 13rem;
      height: 13rem;
    }
    &:nth-child(2) {
      scale: 0;
      width: 18rem;
      height: 18rem;
    }
  }
  /* .contacts__map */

  &__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    & [class*='container'] {
      position: absolute;
      inset: 0;
    }
    @include small-tablet {
      position: absolute;
      // inset: 0;
      top: 0;
      left: 0;
      right: 0;
      height: 180rem;
      transition: height 0.8s, bottom 0.8s;
      z-index: 10;

      // height: 283rem;
      // margin-bottom: 370rem;
    }
  }

  &__placemark {
    width: 78rem;
    height: 78rem;
    position: relative;
    bottom: 100%;
    left: 50%;
    transform: translate(-100%, -100%);

    -o-object-fit: contain;
    object-fit: contain;
    @include small-tablet {
      width: 60rem;
      height: 60rem;
    }
  }
  [class*='map-copyrights'] {
    display: none;
  }
  [class*='engine-container'] {
    //   -webkit-filter: contrast(60%) grayscale(100%) invert(100%);
    //   filter: contrast(60%) grayscale(100%) invert(100%);
  }
  /* .contacts__info */

  &__info {
    grid-template-columns: 345rem 382rem;
    gap: 28rem 56rem;
    padding: 32rem;
    border: 2rem solid $text-primary;
    height: fit-content;

    @include small-tablet {
      // position: absolute;
      margin-top: 180rem;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 28rem;
      padding: 16rem;
      background: $primary-bg;
      z-index: 5;
      position: relative;
      transition: opacity 0.8s;
    }
  }

  /* .contacts__item */

  &__item {
    gap: 20rem;
    & a {
      transition: color 0.3s;
      &:hover {
        color: $accent;
      }
    }
    @include small-tablet {
      gap: 16rem;
    }
  }

  /* .contacts__mail-list */

  &__mail-list {
    grid-template-columns: 345rem 382rem;
    gap: 40rem 56rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }

  /* .contacts__mail-item */

  &__mail-item {
    gap: 8rem;
    @include small-tablet {
      gap: 4rem;
    }
  }
}
