.contacts {
  @include small-tablet {
  }
  /* .contacts__container */

  &__container {
  }

  /* .contacts__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .contacts__content */

  &__content {
    gap: 40rem;
    grid-template-columns: repeat(2, 1fr);
    @include small-tablet {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 0;
    
      &.isOpen {
        & .contacts__map {
          height: 100%;
          bottom: 0;
        }

        & .contacts__info {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &__map-inc {
    display: none;
    @include small-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 15;
      width: 36rem;
      height: 36rem;
      top: 16rem;
      right: 16rem;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background: $background;
    }
  }

  /* .contacts__map */

  &__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    & [class*='container'] {
      position: absolute;
      inset: 0;
    }
    @include small-tablet {
      position: absolute;
      // inset: 0;
      top: 0;
      left: 0;
      right: 0;
      height: 180rem;
      transition: height 0.8s, bottom 0.8s;
      z-index: 10;

      // height: 283rem;
      // margin-bottom: 370rem;
    }
  }

  &__placemark {
    width: 78rem;
    height: 78rem;
    position: relative;
    bottom: 100%;
    left: 50%;
    transform: translate(-100%, -100%);

    -o-object-fit: contain;
    object-fit: contain;
    @include small-tablet {
      width: 60rem;
      height: 60rem;
    }
  }
  [class*='map-copyrights'] {
    display: none;
  }
  [class*='engine-container'] {
    //   -webkit-filter: contrast(60%) grayscale(100%) invert(100%);
    //   filter: contrast(60%) grayscale(100%) invert(100%);
  }
  /* .contacts__info */

  &__info {
    grid-template-columns: 345rem 382rem;
    gap: 28rem 56rem;
    padding: 32rem;
    border: 2rem solid $text-primary;
    height: fit-content;

    @include small-tablet {
      // position: absolute;
      margin-top: 180rem;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 28rem;
      padding: 16rem;
      background: $primary-bg;
      z-index: 5;
      position: relative;
      transition: opacity 0.8s;
    }
  }

  /* .contacts__item */

  &__item {
    gap: 20rem;
    & a {
      transition: color 0.3s;
      &:hover {
        color: $accent;
      }
    }
    @include small-tablet {
      gap: 16rem;
    }
  }

  /* .contacts__mail-list */

  &__mail-list {
    grid-template-columns: 345rem 382rem;
    gap: 40rem 56rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }

  /* .contacts__mail-item */

  &__mail-item {
    gap: 8rem;
    @include small-tablet {
      gap: 4rem;
    }
  }
}
