.conds {
  /* .conds__container */

  &__container {
  }

  /* .conds__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .conds__info */

  &__info {
    display: grid;
    grid-template-columns: 547rem 1132rem;
    grid-template-rows: auto;
    gap: 48rem 40rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      & .txt60 {
        margin-bottom: 8rem;
      }
    }
  }

  /* .conds__list */

  &__list {
    gap: 32rem;
    padding: 28rem;
    background: $dark;
    @include small-tablet {
      padding: 18rem;
      gap: 20rem;
    }
  }

  /* .conds__item */

  &__item {
    gap: 16rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .conds__item-svg */

  &__item-svg {
    width: 64rem;
    height: 64rem;
    flex-shrink: 0;
    @include small-tablet {
      width: 32rem;
      height: 32rem;
    }
  }

  /* .conds__video-wrap */

  &__video-wrap {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    height: auto;
    position: relative;
    @include small-tablet {
      width: 343rem;
      height: 216rem;
    }
    &:hover {
      & .conds__video-play img {
        scale: 1.1;
      }
    }
  }
  /* .conds__video */

  &__video {
    width: 100%;
    height: 100%;
    display: flex;
    & video {
      position: absolute;
      inset: 0;
    }
  }
  /* .conds__video-play */

  &__video-play {
    position: absolute;
    width: 100rem;
    height: 195rem;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: $stroke;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      width: 60rem;
      height: 60rem;
    }
    & img {
      width: 36rem;
      height: 41rem;
      transition: scale 0.3s;
      @include small-tablet {
        width: 14rem;
        height: 16rem;
      }
    }
  }

  /* .conds__swiper-box */

  &__swiper-box {
    display: flex;
    flex-direction: column;
    gap: 40rem;
    @include small-tablet {
      gap: 16rem;
    }
  }

  /* .conds__swiper */

  &__swiper {
    width: 100%;
  }

  /* .conds__slide */

  &__slide {
  }

  /* .conds__img-wrap */

  &__img-wrap {
    display: flex;
    &:hover {
      & .conds__inc {
        opacity: 1;
      }
    }
  }

  /* .conds__img */

  &__img {
    width: 100%;
    height: 316rem;
    @include small-tablet {
      height: 132rem;
    }
  }

  /* .conds__inc */

  &__inc {
    position: absolute;
    width: 101rem;
    height: 101rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    transition: opacity 0.3s;
    bottom: 0;
    opacity: 0;
    right: 0;
    @include small-tablet {
      opacity: 1;
      width: 60rem;
      height: 60rem;
    }
  }

  /* .conds__inc-text */

  &__inc-text {
    @include small-tablet {
      display: none;
    }
  }

  /* .conds__inc-svg */

  &__inc-svg {
    width: 40rem;
    height: 40rem;
  }

  /* .conds__nav-box */

  &__nav-box {
  }

  /* .conds__fraction */

  &__fraction {
  }

  /* .conds__btn-box */

  &__btn-box {
    @include small-tablet {
      display: none;
    }
  }

  /* .conds__btn */

  &__btn {
  }
}
