.contacts {
  @include small-tablet {
    display: none;
  }
  /* .contacts__container */

  &__container {
  }

  /* .contacts__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .contacts__content */

  &__content {
    gap: 40rem;
    grid-template-columns: repeat(2, 1fr);
  }

  /* .contacts__map */

  &__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    & [class*='container'] {
      position: absolute;
      inset: 0;
    }
    @include small-tablet {
    }
  }

  &__placemark {
    width: 78rem;
    height: 78rem;
    position: relative;
    bottom: 100%;
    left: 50%;
    transform: translate(-100%, -100%);

    -o-object-fit: contain;
    object-fit: contain;
    @include small-tablet {
      width: 64rem;
      height: 64rem;
    }
  }
  [class*='map-copyrights'] {
    display: none;
  }
  [class*='engine-container'] {
    //   -webkit-filter: contrast(60%) grayscale(100%) invert(100%);
    //   filter: contrast(60%) grayscale(100%) invert(100%);
  }
  /* .contacts__info */

  &__info {
    grid-template-columns: 345rem 382rem;
    gap: 28rem 56rem;
    padding: 32rem;
    border: 2rem solid $text-primary;
    height: fit-content;

    @include small-tablet {
      gap: 32rem;
      padding: 16rem;
    }
  }

  /* .contacts__item */

  &__item {
    gap: 20rem;
    & a {
      transition: color 0.3s;
      &:hover {
        color: $accent;
      }
    }
  }

  /* .contacts__mail-list */

  &__mail-list {
    grid-template-columns: 345rem 382rem;
    gap: 40rem 56rem;
  }

  /* .contacts__mail-item */

  &__mail-item {
    gap: 8rem;
  }
}
