.cooperations {
  /* .cooperations__container */

  &__container {
  }

  /* .cooperations__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  &__list {
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 40rem;

    @include small-tablet {
      display: flex;
      flex-direction: column ;
      gap: 8rem;
    }
  }
}
