.cooperations {
  /* .cooperations__container */

  &__container {
  }

  /* .cooperations__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .cooperations__swiper-box */

  &__swiper-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }
  /* .cooperations__swiper */

  &__swiper {
  }

  /* .cooperations__swiper-wrapper */

  &__swiper-wrapper {
  }

  /* .cooperations__slide */

  &__slide {
  }

  &__pagin {
    position: static !important;
    & .swiper-pagination-bullet {
      transition: all 0.3s !important;
      background: $tertiary-text;
    }
    & .swiper-pagination-bullet-active {
      background: $text-primary;
    }
  }
}

