.horizontal {
  position: relative;
  width: 100%;
  height: 100vh;
  // .horizontal__inner

  &__inner {
  }

  // .horizontal__nav

  &__nav {
    position: absolute;
    z-index: 10;
    bottom: 110rem;
    left: 0;

    width: 1880rem;
    // margin-top: -50rem;
    &.is-fixed {
      position: fixed;
    }

    &.is-bottom {
      top: auto !important;
      bottom: 30rem;
    }
    @include small-tablet {
      top: calc(100vh - 50rem);
      top: calc(100dvh - 50rem);
      margin-top: 0;
      width: 375rem;
    }
  }

  // .horizontal__nav-swiper

  &__nav-swiper {
    background: $background;
    margin: 0 !important;
    width: fit-content !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 23rem 42rem !important;
        backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include small-tablet {
      width: 375rem !important;
      padding: 0 16rem !important;
      background: rgba(11, 42, 52, 0.4);
    }
  }

  // .horizontal__nav-swiper-wrapper

  &__nav-swiper-wrapper {
  }

  // .horizontal__nav-slide

  &__nav-slide {
    width: fit-content !important;
  }

  // .horizontal__nav-link

  &__nav-link {
    transition:
      color 0.3s,
      border 0.3s;
    display: flex;
    &.isActive {
      color: $accent;
      @include small-tablet {
        border: 2rem solid $accent;
      }
    }
    @include desk-only {
      &:hover {
        color: $accent;
      }
    }

    @include small-tablet {
      padding: 12rem;
      border: 2rem solid $stroke;
    }
  }

  // .horizontal__next-btn

  &__next-btn {
    width: 101rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12rem;
        backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: $background;
    top: 0;
    right: 90rem;
    z-index: 10;
    transition:
      color 0.3s,
      background 0.3s;
    padding: 16rem;
    &:hover {
      color: $dark;
      background: rgba(255, 255, 255, 0.3);
      & .horizontal__next-svg {
        // transform: translateY(-5rem);
        & path {
          fill: $dark;
        }
      }
    }

    @include small-tablet {
      width: 45rem;
      height: 45rem;
      right: 16rem;
      top: calc(-1 * (calc(100vh - 120rem)));
      top: calc(-1 * (calc(100dvh - 120rem)));
    }
  }

  // .horizontal__next-text

  &__next-text {
    @include small-tablet {
      display: none;
    }
  }

  // .horizontal__next-svg

  &__next-svg {
    width: 40rem;
    height: 40rem;
    // transition: transform 0.3s;
    rotate: -180deg;
    & path {
      transition: fill 0.3s;
    }
    @include small-tablet {
      width: 20rem;
      height: 20rem;
    }
  }

  // .horizontal__content

  &__content {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  // .horizontal__panel

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    will-change: transform;

    // Важно: фон должен быть непрозрачным

    // Раскладываем слои
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        z-index: #{$i};
      }
    }
  }

  // .horizontal__panel-strip

  &__panel-strip {
    display: flex;
    height: 100%;
    /* Ширина рассчитается автоматически по дочерним элементам */
    width: fit-content;
    will-change: transform;
  }

  // .horizontal__screen

  &__screen {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0; // Запрещаем сжиматься
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        z-index: #{$i};
      }
    }
    &--1 {
      & .horizontal__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 940rem;
        height: 100%;
        @include small-tablet {
          position: static;
          width: 343rem;
          height: 252rem;
        }
      }

      & .horizontal__screen-inner {
      }

      & .horizontal__info {
        width: 840rem;
        gap: 40rem;
        @include small-tablet {
          gap: 12rem;
          width: 100%;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
        }
        @include small-tablet {
        }
      }

      & .horizontal__text {
        padding: 40rem 32rem;
        border: 2rem solid $text-primary;
        @include small-tablet {
          padding: 16rem;
          display: flex;
          flex-direction: column;
          gap: 10rem;
        }
        & p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          @include small-tablet {
            -webkit-line-clamp: 4;
          }
        }
      }
    }

    &--2 {
      & .horizontal__screen-inner {
        width: 1346rem;
        @include small-tablet {
          width: 100%;
        }
      }
      & .horizontal__info {
        position: absolute;
        inset: 0;
        @include small-tablet {
          position: relative;
        }
      }

      & .horizontal__screen-content {
        position: relative;
        height: 583rem;
        border: 1rem solid $text-primary;
        border-top: unset;
        padding: 70rem 52rem;
        width: 100%;
        @include small-tablet {
          padding: 0;
          width: 375rem;
          margin: 0 -16rem;
          padding: 0 16rem;
          height: auto;
          border: unset;
          gap: 20rem;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
          justify-content: flex-start;
        }
      }
      & .horizontal__title {
        width: 320rem;
        @include small-tablet {
          width: 100%;
        }
      }
      & .horizontal__text {
        width: 807rem;
        @include small-tablet {
          width: 100%;
          border: 2rem solid $text-primary;
          padding: 16rem;
          display: flex;
          flex-direction: column;
          gap: 10rem;

          & p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            @include small-tablet {
              -webkit-line-clamp: 13;
            }
          }
        }
      }

      & .horizontal__important {
        position: absolute;
        width: 490rem;
        left: 50%;
        transform: translateX(-50%);
        top: -40rem;
        padding: 24rem;
        min-height: 255rem;
        border: 1rem solid $accent;
        @include small-tablet {
          position: static;
          transform: unset;
          padding: 16rem 20rem;
          width: 276rem;
          margin-left: auto;
          min-height: unset;
          & p {
            font-size: 12rem;
          }
        }
        &::before,
        &:after {
          position: absolute;
          width: calc(calc(1346rem - 490rem) / 2);
          height: 1rem;
          content: '';
          top: 40rem;
          background: $text-primary;
          @include small-tablet {
            display: none;
          }
        }
        &::before {
          left: 0;
          transform: translateX(-100%);
        }
        &::after {
          right: 0;
          transform: translateX(100%);
        }
      }

      & .horizontal__img {
        position: absolute;
        width: 1026rem;
        height: 1026rem;
        left: 798rem;
        bottom: -167rem;
        z-index: 5;
        @include small-tablet {
          width: 223rem;
          height: 223rem;
          left: -50rem;
          bottom: -30rem;
        }
      }
    }

    &--3 {
      & .horizontal__screen-inner {
      }

      & .horizontal__screen-content {
        gap: 80rem;
      }

      & .horizontal__img {
        @include desk-only {
          display: none;
        }
        @include small-tablet {
          width: 343rem;
          height: 130rem;
        }
      }
      & .horizontal__list-box {
        width: 572rem;
        gap: 40rem;
        flex-shrink: 0;
        @include small-tablet {
          width: 100%;
          gap: 16rem;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
          justify-content: flex-start;
        }
      }

      & .horizontal__list {
        gap: 30rem;
        @include small-tablet {
          gap: 12rem;
        }
      }

      & .horizontal__item {
        gap: 20rem;
        @include small-tablet {
          gap: 4rem;
        }
      }

      & .horizontal__svg {
        width: 78rem;
        height: 78rem;
        flex-shrink: 0;
        @include small-tablet {
          width: 40rem;
          height: 40rem;
        }
      }

      & .horizontal__text {
        gap: 8rem;
        @include small-tablet {
          gap: 4rem;
          & .txt18 {
            font-size: 12rem;
          }
        }
      }

      & .horizontal__img-wrap {
        gap: 35rem;
        @include small-tablet {
          display: none;
        }
      }

      & .horizontal__img-big {
        width: 633rem;
        height: 785rem;
        max-height: calc(100vh - 250rem);
        max-height: calc(100dvh - 250rem);
      }

      & .horizontal__img-box {
      }

      & .horizontal__img-img {
        width: 400rem;
        height: 491rem;
      }
    }
  }

  // .horizontal__screen--1

  &__screen--1 {
  }

  // .horizontal__screen-inner

  &__screen-inner {
  }

  // .horizontal__info

  &__info {
  }

  // .horizontal__img

  &__img {
  }

  // .horizontal__text

  &__text {
  }

  // .horizontal__show-more

  &__show-more {
    @include desk-only {
      display: none;
    }
    gap: 4rem;
  }

  // .horizontal__show-more-svg

  &__show-more-svg {
    width: 24rem;
    height: 24rem;
  }

  // .horizontal__screen-content

  &__screen-content {
  }

  // .horizontal__title

  &__title {
  }

  // .horizontal__important

  &__important {
  }

  // .horizontal__list-box

  &__list-box {
  }

  // .horizontal__list

  &__list {
  }

  // .horizontal__item

  &__item {
  }

  // .horizontal__svg

  &__svg {
  }

  // .horizontal__img-wrap

  &__img-wrap {
  }

  // .horizontal__img-big

  &__img-big {
  }

  // .horizontal__img-box

  &__img-box {
  }

  // .horizontal__img-img

  &__img-img {
  }
}
