.horisontal {
  // .horisontal__inner

  &__inner {
  }

  // .horisontal__nav

  &__nav {
    display: none;
  }

  // .horisontal__nav-swiper

  &__nav-swiper {
  }

  // .horisontal__nav-swiper-wrapper

  &__nav-swiper-wrapper {
  }

  // .horisontal__nav-slide

  &__nav-slide {
  }

  // .horisontal__nav-link

  &__nav-link {
  }

  // .horisontal__next-btn

  &__next-btn {
  }

  // .horisontal__next-text

  &__next-text {
  }

  // .horisontal__next-svg

  &__next-svg {
  }

  // .horisontal__content

  &__content {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  // .horisontal__screen

  &__screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: $primary-bg;
    inset: 0;
    &--1 {
      & .horisontal__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 940rem;
        height: 100%;
        @include small-tablet {
          position: static;
          width: 343rem;
          height: 252rem;
        }
      }

      & .horisontal__screen-inner {
      }

      & .horisontal__info {
        width: 840rem;
        gap: 40rem;
        @include small-tablet {
          gap: 12rem;
          width: 100%;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
        }
        @include small-tablet {
        }
      }

      & .horisontal__text {
        padding: 40rem 32rem;
        border: 2rem solid $text-primary;
        @include small-tablet {
          padding: 16rem;
          display: flex;
          flex-direction: column;
          gap: 10rem;
        }
        & p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          @include small-tablet {
            -webkit-line-clamp: 4;
          }
        }
      }
    }

    &--2 {
      & .horisontal__screen-inner {
        width: 1346rem;
        @include small-tablet {
          width: 100%;
        }
      }
      & .horisontal__info {
        position: absolute;
        inset: 0;
        @include small-tablet {
          position: relative;
        }
      }

      & .horisontal__screen-content {
        position: relative;
        height: 583rem;
        border: 1rem solid $text-primary;
        border-top: unset;
        padding: 70rem 52rem;
        width: 100%;
        @include small-tablet {
          padding: 0;
          width: 375rem;
          margin: 0 -16rem;
          padding: 0 16rem;
          height: auto;
          border: unset;
          gap: 20rem;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
          justify-content: flex-start;
        }
      }
      & .horisontal__title {
        width: 320rem;
        @include small-tablet {
          width: 100%;
        }
      }
      & .horisontal__text {
        width: 807rem;
        @include small-tablet {
          width: 100%;
          border: 2rem solid $text-primary;
          padding: 16rem;
          display: flex;
          flex-direction: column;
          gap: 10rem;

          & p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            @include small-tablet {
              -webkit-line-clamp: 13;
            }
          }
        }
      }

      & .horisontal__important {
        position: absolute;
        width: 490rem;
        left: 50%;
        transform: translateX(-50%);
        top: -40rem;
        padding: 24rem;
        min-height: 255rem;
        border: 1rem solid $accent;
        @include small-tablet {
          position: static;
          transform: unset;
          padding: 16rem 20rem;
          width: 276rem;
          margin-left: auto;
          min-height: unset;
          & p {
            font-size: 12rem;
          }
        }
        &::before,
        &:after {
          position: absolute;
          width: calc(calc(1346rem - 490rem) / 2);
          height: 1rem;
          content: '';
          top: 40rem;
          background: $text-primary;
          @include small-tablet {
            display: none;
          }
        }
        &::before {
          left: 0;
          transform: translateX(-100%);
        }
        &::after {
          right: 0;
          transform: translateX(100%);
        }
      }

      & .horisontal__img {
        position: absolute;
        width: 1026rem;
        height: 1026rem;
        left: 798rem;
        bottom: -167rem;
        z-index: 5;
        @include small-tablet {
          width: 223rem;
          height: 223rem;
          left: -50rem;
          bottom: -30rem;
        }
      }
    }

    &--3 {
      & .horisontal__screen-inner {
      }

      & .horisontal__screen-content {
        gap: 80rem;
      }

      & .horisontal__img {
        @include desk-only {
          display: none;
        }
        @include small-tablet {
          width: 343rem;
          height: 130rem;
        }
      }
      & .horisontal__list-box {
        width: 572rem;
        gap: 40rem;
        flex-shrink: 0;
        @include small-tablet {
          width: 100%;
          gap: 16rem;
          height: calc(100vh - 150rem);
          height: calc(100dvh - 150rem);
          overflow: auto;
          justify-content: flex-start;
        }
      }

      & .horisontal__list {
        gap: 30rem;
        @include small-tablet {
          gap: 12rem;
        }
      }

      & .horisontal__item {
        gap: 20rem;
        @include small-tablet {
          gap: 4rem;
        }
      }

      & .horisontal__svg {
        width: 78rem;
        height: 78rem;
        flex-shrink: 0;
        @include small-tablet {
          width: 40rem;
          height: 40rem;
        }
      }

      & .horisontal__text {
        gap: 8rem;
        @include small-tablet {
          gap: 4rem;
          & .txt18 {
            font-size: 12rem;
          }
        }
      }

      & .horisontal__img-wrap {
        gap: 35rem;
        @include small-tablet {
          display: none;
        }
      }

      & .horisontal__img-big {
        width: 633rem;
        height: 785rem;
        max-height: calc(100vh - 250rem);
        max-height: calc(100dvh - 250rem);
      }

      & .horisontal__img-box {
      }

      & .horisontal__img-img {
        width: 400rem;
        height: 491rem;
      }
    }
  }

  // .horisontal__screen-inner

  &__screen-inner {
    height: 100%;
  }

  // .horisontal__info

  &__info {
  }

  // .horisontal__img

  &__img {
  }

  // .horisontal__text

  &__text {
  }

  // .horisontal__show-more

  &__show-more {
  }

  // .horisontal__show-more-svg

  &__show-more-svg {
  }

  // .horisontal__screen-content

  &__screen-content {
  }

  // .horisontal__title

  &__title {
  }

  // .horisontal__important

  &__important {
  }

  // .horisontal__list-box

  &__list-box {
  }

  // .horisontal__list

  &__list {
  }

  // .horisontal__item

  &__item {
  }

  // .horisontal__svg

  &__svg {
  }

  // .horisontal__img-wrap

  &__img-wrap {
  }

  // .horisontal__img-big

  &__img-big {
  }

  // .horisontal__img-box

  &__img-box {
  }

  // .horisontal__img-img

  &__img-img {
  }
}
