.horisontal {
  position: relative;
  height: fit-content;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  align-items: center;

  /* .horisontal__container */

  &__container {
    width: 100%;
    width: 1920rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
  }

  /* .horisontal__inner */

  &__inner {
  }

  /* .horisontal__row-wrap */

  &__row-wrap {
    width: fit-content;
    // display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .horisontal__row */

  &__row {
    display: flex;
    height: 100vh;
    height: 100dvh;
    align-items: center;
    width: fit-content!important;
    background: $primary-bg url('./assets/images/bg.svg') no-repeat top/cover;
    &.isFixed {
      // position: fixed !important;
      // inset: 0;
      //   // transform: translate(-66%, 0)!important;;

      position: fixed;
      inset: 0;
      width: 100%;
      pointer-events: none;
    }

    &.isOpacity {
      opacity: 0;
    }
  }

  /* .horisontal__screen */

  &__screen {
    width: 1920rem;
    flex-shrink: 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    & .txt20 {
      height: calc(100% - 400rem);
      overflow: auto;
    }
    @include small-tablet {
      width: 375rem;
    }
  }

  /* .horisontal__screen-inner */

  &__screen-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__nav {
    position: absolute;
    z-index: 10;

    top: calc(100vh - 120rem);

    // left: 50%;
    // transform: translateX(-50%);

    width: 100%;
    &.isFixed {
      position: sticky;
    }
    &.isLeave {
      top: auto;
      //   left: 50%;
      bottom: 120rem;
    }
  }

  &__nav-swiper {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: $background;
    margin: 0 !important;
    width: fit-content !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    // gap: 32rem;
    padding: 23rem 42rem !important;
    @include small-tablet {
      width: 375rem !important;
    }
  }
  &__nav-swiper-wrapper {
  }
  &__nav-slide {
    width: fit-content !important;
  }
  &__nav-link {
    transition: color 0.3s;
    &.isActive,
    &:hover {
      color: $accent;
    }
  }

  /* .horisontal__next-btn */

  &__next-btn {
    width: 101rem;
    height: 101rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: $background;
    top: 0;
    right: 90rem;

    z-index: 10;
    transition: color 0.3s, background 0.3s;

    &:hover {
      color: $dark;
      background: rgba(255, 255, 255, 0.3);
      & .horisontal__next-svg {
        // transform: translateY(-5rem);
        & path {
          fill: $dark;
        }
      }
    }

    @include small-tablet {
      display: none;
    }
  }

  /* .horisontal__next-text */

  &__next-text {
  }

  /* .horisontal__next-svg */

  &__next-svg {
    width: 40rem;
    height: 40rem;
    // transition: transform 0.3s;
    rotate: 180deg;
    & path {
      transition: fill 0.3s;
    }
  }
}
