// .news-det-hero {
//   /* .news-det-hero__container */

//   &__container {
//   }

//   /* .news-det-hero__inner */

//   &__inner {
//     gap: 48rem;
//   }

//   /* .news-det-hero__content */

//   &__content {
//     position: relative;
//   }

//   /* .news-det-hero__head */

//   &__head {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 2;
//     padding-left: 880rem;
//     gap: 20rem;
//     @include small-tablet {
//       padding-left: 0;
//       position: relative;
//     }
//   }

//   /* .news-det-hero__swiper-box */

//   &__swiper-box {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     gap: 16rem;
//   }

//   /* .news-det-hero__swiper */

//   &__swiper {
//     width: 100%;
//   }

//   /* .news-det-hero__swiper-wrapper */

//   &__swiper-wrapper {
//     align-items: flex-end !important;
//   }

//   /* .news-det-hero__slide */

//   &__slide {
//     @include desk-only {
//       width: 1047rem !important;
//       height: 646rem !important;
//       // transition: width 0.8s, height 0.8s, opacity 0.8s !important;
//       transition: none !important;
//       opacity: 0;

//       & .news-det-hero__img {
//         width: 100%;
//         height: 100%;
//         transition: width 0.6s, height 0.8s;
//       }
//       &.swiper-slide-active {
//         opacity: 1;
//         width: 1047rem !important;
//         height: 646rem !important;
//       }
//       &.swiper-slide-active ~ .swiper-slide {
//         width: 308rem !important;
//         height: 238rem !important;

//         opacity: 1;
//         & .news-det-hero__img {
//           width: 100%;
//         }
//       }
//     }
//   }

//   /* .news-det-hero__img */

//   &__img {
//     display: flex;
//     @include small-tablet {
//       width: 343rem;
//       height: 410rem;
//     }
//   }

//   /* .news-det-hero__btn-box */

//   &__btn-box {
//   }

//   /* .news-det-hero__btn */

//   &__btn {
//   }

//   /* .news-det-hero__btn--prev */

//   &__btn--prev {
//   }

//   /* .news-det-hero__btn-next */

//   &__btn-next {
//   }

//   /* .news-det-hero__pagin */

//   &__pagin {
//   }
// }

.news-det-hero {
  /* .news-det-hero__container */

  &__container {
    overflow: hidden;
  }

  /* .news-det-hero__inner */

  &__inner {
    gap: 48rem;
    @include small-tablet {
      gap: 35rem;
    }
  }

  /* .news-det-hero__content */

  &__content {
    position: relative;
    gap: 170rem;
    min-height: 646rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    @include small-tablet {
      gap: 16rem;
      min-height: unset;
      flex-direction: column-reverse;
    }
  }

  /* .news-det-hero__head */

  &__head {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 2;
    position: relative;
    padding-left: 880rem;
    gap: 20rem;

    @include small-tablet {
      padding-left: 0;
      gap: 32rem;
      padding: 16rem;
      background: $dark;
      position: relative;
    }
  }

  &__time {
    @include small-tablet {
      font-size: 12rem;
    }
  }

  /* .news-det-hero__swiper-box */

  &__swiper-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }

  /* .news-det-hero__swiper */

  &__swiper {
    width: 100%;
    overflow: visible !important;
    height: 238rem;
    @include small-tablet {
      height: 266rem;
    }
  }

  /* .news-det-hero__swiper-wrapper */

  &__swiper-wrapper {
    align-items: flex-end !important;
  }

  /* .news-det-hero__slide */

  &__slide {
    @include desk-only {
      width: 979rem !important;
      height: 646rem !important;
      &.isTransition {
        transition: width 0.8s, height 0.8s, opacity 0.8s !important;
        & .news-det-hero__img {
          transition: width 0.6s, height 0.8s;
        }
      }
      opacity: 0;

      & .news-det-hero__img {
        width: 100%;
        height: 100%;
        // transition: width 0.6s, height 0.8s;
        width: 834rem;
      }
      &.swiper-slide-active {
        opacity: 1;
        width: 1047rem !important;
        height: 646rem !important;
      }
      &.swiper-slide-active ~ .swiper-slide {
        width: 308rem !important;
        height: 238rem !important;

        opacity: 1;
        & .news-det-hero__img {
          width: 100%;
        }
      }
    }
  }

  /* .news-det-hero__img */

  &__img {
    display: flex;
    @include small-tablet {
      width: 343rem;
      height: 266rem;
    }
  }

  /* .news-det-hero__btn-box */

  &__btn-box {
    position: absolute;
    right: 0;
    bottom: 270rem;
  }

  /* .news-det-hero__btn */

  &__btn {
  }

  /* .news-det-hero__btn--prev */

  &__btn--prev {
  }

  /* .news-det-hero__btn-next */

  &__btn-next {
  }

  /* .news-det-hero__pagin */

  &__pagin {
  }
}
