.news {

  /* .news__container */

  &__container {
  }

  /* .news__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .news__swiper-box */

  &__swiper-box {
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .news__swiper */

  &__swiper {
    width: 100%;
    overflow: visible !important;
    @include small-tablet {
      width: calc(100% + 20rem);
      margin: -6rem -10rem !important;
    }
  }

  /* .news__swiper-wrapper */

  &__swiper-wrapper {
    flex-direction: row !important;
  }

  /* .news__slide */

  &__slide {
    height: auto !important;
    @include small-tablet {
      padding: 6rem 12rem;
    }
  }

  /* .news__pagination */

  &__pagination {
    @include desk-only {
      display: none;
    }
  }
}


