.vacancies {

  /* .vacancies__container */

  &__container {
  }

  /* .vacancies__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .vacancies__swiper-box */

  &__swiper-box {
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .vacancies__swiper */

  &__swiper {
    width: 100%;
    overflow: visible !important;
    @include small-tablet {
      width: calc(100% + 20rem);
      margin: -6rem -10rem !important;
    }
  }

  /* .vacancies__swiper-wrapper */

  &__swiper-wrapper {
    flex-direction: row !important;
  }

  /* .vacancies__slide */

  &__slide {
    height: auto !important;
    @include small-tablet {
      padding: 6rem 12rem;
    }
  }

  /* .vacancies__pagin */

  &__pagin {
    @include desk-only {
      display: none;
    }
  }

  /* .vacancies__empty */

  &__empty {
    border: 2rem solid $text-primary;
    padding: 60rem;
    width: 812rem;
    margin: 0 auto;
    gap: 40rem;
    @include small-tablet {
      width: 100%;
      padding: 16rem;
      gap: 32rem;
      text-align: left;
    }
  }

  /* .vacancies__empty-text */

  &__empty-text {
    gap: 20rem;
    & .txt18 {
      @include small-tablet {
        font-size: 12rem;
        gap: 12rem;
      }
    }
  }
}

