.values {
  /* .values__container */

  &__container {
  }

  /* .values__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .values__swiper-box */

  &__swiper-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }
  /* .values__swiper */

  &__swiper {
  }

  /* .values__swiper-wrapper */

  &__swiper-wrapper {
  }

  /* .values__slide */

  &__slide {
  }

  &__pagin {
   
  }
}






