.video {
  /* .video__container */

  &__container {
  }

  /* .video__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .video__list */

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }

  /* .video__video-wrap */

  &__video-wrap {
    width: 100%;
    height: 620rem;
    position: relative;
    @include small-tablet {
      width: 343rem;
      height: 253rem;
    }
    &:hover {
      & .video__video-play img {
        scale: 1.1;
      }
    }
  }

  /* .video__video */

  &__video {
    width: 100%;
    height: 100%;
  }

  /* .video__video-play */

  &__video-play {
    position: absolute;
    width: 100rem;
    height: 142rem;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: $stroke;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      width: 40rem;
      height: 78rem;
    }
    & img {
      width: 28rem;
      height: 33rem;
      transition: scale 0.3s;
      @include small-tablet {
        width: 12rem;
        height: 14rem;
      }
    }
  }
}
