@import '../components/_footer';
@import '../components/_header';
@import '../components/_popup';
@import '../components/_hero';

@import '../components/_horizontal';

@import '../components/_ambitions';
@import '../components/_values';
@import '../components/_management';
@import '../components/_dna';
@import '../components/_vacancies';
@import '../components/_cooperations';
@import '../components/_news';
@import '../components/_contacts';
@import '../components/_error';
@import '../components/_brands';
@import '../components/_advantages';
@import '../components/_last-news';
@import '../components/_vacancies-list';
@import '../components/_brand-hero';
@import '../components/_begins';
@import '../components/_philosophy';
@import '../components/_gallery';
@import '../components/_about-hero';
@import '../components/_management-anim';
@import '../components/_edge';
@import '../components/_dna-hero';
@import '../components/_vacancies-hero';
@import '../components/_relationships';
@import '../components/_relationships-hero';
@import '../components/_data-sout';
@import '../components/_conds-hero';
@import '../components/_conds';
@import '../components/_sout-hero';
@import '../components/_what-sout';
@import '../components/_env-hero';
@import '../components/_video';
@import '../components/_news-hero';
@import '../components/_coop-det-hero';
@import '../components/_benefits';

@import '../components/_how-order';
@import '../components/_brands-gallery';
@import '../components/_brand-hero-det';
@import '../components/_news-det-hero';
@import '../components/_news-det-info';
