.swiper-button-perv,
.swiper-button-next {
  margin: 0 !important;
  position: static !important;
  &::after {
    display: none;
  }
}

.accent-btn {
  width: 398rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;
  text-transform: uppercase;
  font-size: 18rem;
  background: $accent;
  transition: background 0.3s, color 0.3s;
  padding: 18rem;
  &[disabled] {
    background: $tertiary-text;
    color: $primary-bg;
    pointer-events: none;
  }
  &:hover {
    background: $accentHover;
  }
  @include small-tablet {
    font-size: 16rem;
    width: 100%;
  }
}

.link-under {
  text-decoration: underline;
}
