.txt90 {
  font-size: 90rem;
  @include small-tablet {
    font-size: 36rem;
  }
}
.txt60 {
  font-size: 60rem;
  @include small-tablet {
    font-size: 22rem;
  }
}
.txt32 {
  font-size: 32rem;
  @include small-tablet {
    font-size: 18rem;
  }
}
.txt24 {
  font-size: 24rem;
  @include small-tablet {
    font-size: 18rem;
  }
}

.txt20 {
  font-size: 20rem;
  @include small-tablet {
    font-size: 15rem;
  }
}
.txt18 {
  font-size: 18rem;
  @include small-tablet {
    font-size: 15rem;
  }
}
.txt16 {
  font-size: 16rem;
  @include small-tablet {
    font-size: 12rem;
  }
}
.txt14 {
  font-size: 14rem;
  @include small-tablet {
  }
}
.txt12 {
  font-size: 12rem;
  @include small-tablet {
    font-size: 10rem;
  }
}
.txt10 {
  font-size: 10rem;
  @include small-tablet {
    font-size: 8rem;
  }
}

.light {
  font-weight: 300 !important;
}
.regular {
  font-weight: 400 !important;
}
.medium {
  font-weight: 500 !important;
}
.semibold {
  font-weight: 600 !important;
}
.bold {
  font-weight: 700 !important;
}

.italic {
  font-style: italic !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.upper {
  text-transform: uppercase;
}

.accent-color {
  color: $accent;
}

.tertiary-color {
  color: $tertiary-text;
}

.lh140 {
  line-height: 140%;
}
