<section class="about-hero _first section-wrap">
  <div class="about-hero__container container">
    <div class="about-hero__inner flex dc sb">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><p>О компании</p></li>
        </ul>
      </nav>

      <div class="about-hero__content flex dc">
        <div class="about-hero__title-swiper-box">
          <div class="about-hero__title-swiper swiper txt60 upper lh140">
            <div class="swiper-wrapper">
              <div class="about-hero__title-slide swiper-slide">
                <p class="flex dc">
                  <span class="accent-color">Образцовый1</span>
                  представитель
                </p>
              </div>
              <div class="about-hero__title-slide swiper-slide">
                <p class="flex dc">
                  <span class="accent-color">Образцовый2</span>
                  представитель Образцовый
                </p>
              </div>
              <div class="about-hero__title-slide swiper-slide">
                <p class="flex dc">
                  <span class="accent-color">Образцовый Образцовый3</span>
                  представитель 
                </p>
              </div>
              <div class="about-hero__title-slide swiper-slide">
                <p class="flex dc">
                  <span class="accent-color"> Образцовый4</span>
                  представитель  представитель
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="about-hero__bg-swiper-box">
          <div class="about-hero__bg-swiper swiper">
            <div class="swiper-wrapper">
              <div class="about-hero__bg-slide swiper-slide">
                <div class="about-hero__bg">
                  <img src="./assets/images/aboutHero1.webp" alt="" />
                </div>
              </div>
              <div class="about-hero__bg-slide swiper-slide">
                <div class="about-hero__bg">
                  <img src="./assets/images/aboutHero2.webp" alt="" />
                </div>
              </div>
              <div class="about-hero__bg-slide swiper-slide">
                <div class="about-hero__bg">
                  <img src="./assets/images/aboutHero1.webp" alt="" />
                </div>
              </div>
              <div class="about-hero__bg-slide swiper-slide">
                <div class="about-hero__bg">
                  <img src="./assets/images/aboutHero2.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="about-hero__footer flex sb">
          <div class="about-hero__text-swiper-box">
            <div class="about-hero__text-swiper swiper txt24 upper">
              <div class="swiper-wrapper">
                <div class="about-hero__text-slide swiper-slide">
                  <p>
                    REBELGROUP — образцовый представитель английских и американских классических мужских брендов мужской косметики
                    и аксессуаров
                  </p>
                </div>
                <div class="about-hero__text-slide swiper-slide">
                  <p>
                    REBELGROUP — образцовый представитель английских и американских классических мужских брендов мужской косметики
                    и аксессуаров английских и американских классических мужских
                  </p>
                </div>
                <div class="about-hero__text-slide swiper-slide">
                  <p>REBELGROUP — образцовый представитель английских аксессуаров</p>
                </div>
                <div class="about-hero__text-slide swiper-slide">
                  <p>
                    REBELGROUP — образцовый представитель английских и американских классических мужских брендов мужской косметики
                    и аксессуаров английских и американских
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-hero__nav-box flex sb cv">
            <div class="about-hero__fraction txt18 upper">01/03</div>

            <div class="about-hero__btn-box swiper-btn-box flex cv">
              <button class="about-hero__btn about-hero--prev swiper-button swiper-button-prev">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.29289 19.3027C2.90237 19.6932 2.90237 20.3263 3.29289 20.7169L9.65685 27.0808C10.0474 27.4714 10.6805 27.4714 11.0711 27.0808C11.4616 26.6903 11.4616 26.0571 11.0711 25.6666L5.41421 20.0098L11.0711 14.3529C11.4616 13.9624 11.4616 13.3292 11.0711 12.9387C10.6805 12.5482 10.0474 12.5482 9.65686 12.9387L3.29289 19.3027ZM36 20.0098L36 19.0098L4 19.0098L4 20.0098L4 21.0098L36 21.0098L36 20.0098Z"
                    fill="#fdfdfd"
                  />
                </svg>
              </button>
              <button class="about-hero__btn about-hero-next swiper-button swiper-button-next">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                    fill="#fdfdfd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="about-hero__aside flex ev">
          <div class="about-hero__preview-swiper-box">
            <div class="about-hero__preview-swiper swiper">
              <div class="swiper-wrapper">
                <div class="about-hero__preview-slide swiper-slide">
                  <div class="about-hero__preview">
                    <img src="./assets/images/aboutHero1.webp" alt="" />
                  </div>
                </div>
                <div class="about-hero__preview-slide swiper-slide">
                  <div class="about-hero__preview">
                    <img src="./assets/images/aboutHero2.webp" alt="" />
                  </div>
                </div>
                <div class="about-hero__preview-slide swiper-slide">
                  <div class="about-hero__preview">
                    <img src="./assets/images/aboutHero1.webp" alt="" />
                  </div>
                </div>
                <div class="about-hero__preview-slide swiper-slide">
                  <div class="about-hero__preview">
                    <img src="./assets/images/aboutHero2.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
            <button class="accent-btn" data-popup="#popup__application">написать нам</button>
        </div>
      </div>
    </div>
  </div>
</section>
