<section class="advantages">
  <div class="advantages__container container">
    <div class="advantages__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Преимущества</p>
      </div>
      <div class="advantages__swiper-box flex dc">
        <div class="advantages__swiper swiper">
          <div class="advantages__swiper-wrapper swiper-wrapper">
            <div class="advantages__slide swiper-slide">
              <a href="#" class="advantages-el flex dc sb">
                <div class="advantages-el__svg">
                  <img src="./assets/images/advantages1.svg" alt="" />
                </div>
                <div class="advantages-el__text flex dc">
                  <p class="txt20 upper">идеальная формула</p>
                  <p class="txt16 light lh140">
                    Основным преимуществом продукции Morgans является идеальное сочетание классических рецептур с современными
                    технологиями.
                  </p>
                </div>
              </a>
            </div>
            <div class="advantages__slide swiper-slide">
              <a href="#" class="advantages-el flex dc sb">
                <div class="advantages-el__svg">
                  <img src="./assets/images/horisontalsvg2.svg" alt="" />
                </div>
                <div class="advantages-el__text flex dc">
                  <p class="txt20 upper">Ассортимент</p>
                  <p class="txt16 light lh140">
                    В каталоге компании представлено большое разнообразие мужской косметики и аксессуаров различного вида. 
                  </p>
                </div>
              </a>
            </div>
            <div class="advantages__slide swiper-slide">
              <a href="#" class="advantages-el flex dc sb">
                <div class="advantages-el__svg">
                  <img src="./assets/images/horisontalsvg1.svg" alt="" />
                </div>
                <div class="advantages-el__text flex dc">
                  <p class="txt20 upper">высокое Качество</p>
                  <p class="txt16 light lh140">
                    Производитель постоянно следит за качеством продукции, совершенствует формулы косметических средств.
                  </p>
                </div>
              </a>
            </div>
            <div class="advantages__slide swiper-slide">
              <a href="#" class="advantages-el flex dc sb">
                <div class="advantages-el__svg">
                  <img src="./assets/images/horisontalsvg4.svg" alt="" />
                </div>
                <div class="advantages-el__text flex dc">
                  <p class="txt20 upper">Натуральность</p>
                  <p class="txt16 light lh140">
                    Использование натуральных и тщательно отобранных ингредиентов, которые работают не только на внешний
                    результат, но и на здоровье волос, кожи и бороды.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="advantages__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
