<section class="ambitions" id="ambitions" >
  <div class="ambitions__container container">
    <div class="ambitions__inner flex dc">
      <div class="ambitions__title-wrap flex sb">
        <p class="txt16 upper tertiary-color">миссия, цель и ценности</p>
        <p class="ambitions__title flex dc txt60 upper">
          <span>rebelgroup КОМПАНИЯ</span>
          <span>с чугунными амбициями</span>
        </p>
      </div>
      <div class="ambitions__content">
        <div class="ambitions__img">
          <img src="./assets/images/ambitions.webp" alt="" />
        </div>
        <ul class="ambitions__list flex dc sb">
          <li class="ambitions__item flex cv">
            <div class="ambitions__svg">
              <img src="./assets/images/target.svg" alt="" />
            </div>
            <div class="ambitions__text flex dc">
              <p class="txt24 upper">Цель</p>
              <p class="txt18 light lh140">
                Бренды REBEL на столе у каждого барбера и парикмахера и на полке каждого Барбершопа, Салона Красоты и
                Парикмахерской России и СНГ.
              </p>
            </div>
          </li>
          <li class="ambitions__item flex cv">
            <div class="ambitions__svg">
              <img src="./assets/images/mission.svg" alt="" />
            </div>
            <div class="ambitions__text flex dc">
              <p class="txt24 upper">миссия</p>
              <p class="txt18 light lh140">
                Построить современную систему поставок и дистрибьюции кайфовой профессиональной косметики и инструментов в России
                и СНГ, и снять с малого бизнеса головную боль по поиску надёжного поставщика.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
