<section class="begins">
  <div class="begins__container container">
    <div class="begins__inner flex dc">
      <div class="begins__head grid">
        <p class="txt18 light lh140 tertiary-color upper">История бренда</p>
        <p class="txt60 upper">Как все начиналось</p>
      </div>

      <div class="begins__content grid">
        <div class="begins__img-wrap">
          <div class="begins__img">
            <img src="./assets/images/beginsImg.webp" alt="" />
          </div>
        </div>

        <div class="begins__info flex dc sb">
          <div class="begins__text-block flex sb">
            <p class="begins__text txt18 light lh140">
              Компания Morgans pomade создана в 1873 году в Англии. Началась с маленького семейного бизнеса на кухне, где
              создатель Роберт Мартин сам создавал косметику и продвигал свой товар, лично доставляя его покупателям. В скором
              времени основатель Morgans смог открыть собственный магазин в престижном районе Лондона, а в дальнейшем собственное
              производство на заводе. 
              <br />
              <br />
              Morgan's Pomade в переводе с английского «помада Моргана». Дело в том, что у Мартина был компаньон по фамилии
              Морган, который смешал первые помады бренда. Через какое-то непродолжительное время они прекратили сотрудничество, и
              Роберт в знак уважения и благодарности оставил название «помада Моргана», то есть Morgan's Pomade.
            </p>

            <div class="begins__profile flex dc" data-da=".begins__img-wrap, 768, last">
              <div class="begins__photo">
                <img src="./assets/images/beginsPhoto.webp" alt="" />
              </div>

              <div class="begins__person flex dc">
                <p class="begins__name txt18 upper">Роберт Мартин</p>
                <p class="begins__position txt16 lh140 light tertiary-color">Основатель компании Morgans pomade</p>
              </div>
            </div>
          </div>

          <ul class="begins__list flex">
            <li class="begins__item flex dc">
              <p class="txt18 upper lh140 tertiary-color">Год основания:</p>
              <p class="txt20 light">1873 год</p>
            </li>
            <li class="begins__item flex dc">
              <p class="txt18 upper lh140 tertiary-color">страна производства:</p>
              <p class="txt20 light">Англия</p>
            </li>
            <li class="begins__item flex dc">
              <p class="txt18 upper lh140 tertiary-color">компания:</p>
              <p class="txt20 light">Morgans pomade</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
