<section class="benefits section-wrap">
  <div class="benefits__container container">
    <div class="benefits__inner flex dc">
      <p class="txt60 upper">Преимущества сотрудничества</p>
      <div class="benefits__swiper-box flex dc">
        <div class="benefits__swiper swiper swiper-grid swiper-grid--3">
          <div class="benefits__swiper-wrapper swiper-wrapper">
            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits1.svg" alt="" />
                </div>
                <p class="txt20 upper">НЕТ МИНИМАЛЬНОЙ СУММЫ ЗАКАЗА</p>
                <p class="txt16 light lh140">
                  Если вы владелец барбершопа или салона красоты, то вы сразу получаете минимальные оптовые цены на ассортимент из
                  более 500 наименований. Даже если закажете всего один продукт, вы получите его по оптовой цене.
                </p>
              </div>
            </div>
            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits2.svg" alt="" />
                </div>
                <p class="txt20 upper">БЕСПЛАТНАЯ ДОСТАВКА НА СЛЕДУЮЩИЙ ДЕНЬ</p>
                <p class="txt16 light lh140">
                  Любой заказ от 6 тыс. руб. вам привезут бесплатно по Москве и Санкт-Петербургу на следующий рабочий день или на
                  расстояние до 30 км МКАД / КАД за 1-2 рабочих дня.
                </p>
              </div>
            </div>
            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits3.svg" alt="" />
                </div>
                <p class="txt20 upper">ЭКОНОМИЯ НА ЗАКУПКАХ ДО 40%</p>
                <p class="txt16 light lh140">
                  За счет нашей прямой работы с брендами, которые являются реальными производителями своих товаров, продуманной
                  складской системы и логистики, вы получаете продукцию из Англии и США высочайшего качества с экономией до 40% по
                  сравнению с аналогами других брендов.
                </p>
              </div>
            </div>
            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits4.svg" alt="" />
                </div>
                <p class="txt20 upper">НАДЕЖНАЯ ЗАЩИТА ОТ ИЗМЕНЕНИЯ КУРСА ВАЛЮТЫ</p>
                <p class="txt16 light lh140">
                  Все наши цены указаны в рублях и за последние 2 календарных года они ни разу не поднимались, даже при колебаниях
                  курса валюты до 20%.
                </p>
              </div>
            </div>

            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits6.svg" alt="" />
                </div>
                <p class="txt20 upper">
                  МОТИВАЦИЯ, ИНФОРМАЦИЯ
                  <br />
                  И КАНАЛ ОБЩЕНИЯ ДЛЯ МАСТЕРОВ
                </p>
                <p class="txt16 light lh140">
                  Ваши мастера могут присоединиться к нашему Инстаграм сообществу @rebel.bible. В нем мы продвигаем работы
                  талантливых барберов и парикмахеров и даем обратную связь по продукции.
                </p>
              </div>
            </div>
            <div class="benefits__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/benefits5.svg" alt="" />
                </div>
                <p class="txt20 upper">ЮРИДИЧЕСКАЯ БЕЗОПАСНОСТЬ</p>
                <p class="txt16 light lh140">
                  Все продукты официально завезены в Россию, растаможены, сертифицированы и их маркировка соответствует нормам и
                  требованиям закона, что на 100% защищает от потенциальных проблем с проверяющими органами.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="benefits__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
