<section class="brands-gallery section-wrap">
  <div class="brands-gallery__container container">
    <div class="brands-gallery__inner flex dc">
      <div class="brands-gallery__head flex sb">
        <div class="brands-gallery__title-box flex dc">
          <p class="txt60 upper">
            Бренды
            <br />
            rebelgroup
          </p>
          <div class="brands-gallery__title-info flex dc">
            <p class="txt18 light lh140">
              Бренды REBEL — это портфель брендов косметики и аксессуаров, который REBELGROUP (ООО «Вайт32 Дистрибьюшн»)
              эксклюзивно представляет на территории СНГ.
            </p>
            <a href="#" class="accent-btn" data-da=".brands-gallery__inner, 768, last">Все бренды</a>
          </div>
        </div>
        <div class="brands-gallery__btn-box swiper-btn-box flex cv">
          <button class="brands-gallery__btn brands-gallery__btn--prev swiper-button swiper-button-prev">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.29289 19.3027C2.90237 19.6932 2.90237 20.3263 3.29289 20.7169L9.65685 27.0808C10.0474 27.4714 10.6805 27.4714 11.0711 27.0808C11.4616 26.6903 11.4616 26.0571 11.0711 25.6666L5.41421 20.0098L11.0711 14.3529C11.4616 13.9624 11.4616 13.3292 11.0711 12.9387C10.6805 12.5482 10.0474 12.5482 9.65686 12.9387L3.29289 19.3027ZM36 20.0098L36 19.0098L4 19.0098L4 20.0098L4 21.0098L36 21.0098L36 20.0098Z"
                fill="#ADC2C9"
              />
            </svg>
          </button>
          <button class="brands-gallery__btn brands-gallery__btn-next swiper-button swiper-button-next">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                fill="#ADC2C9"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="brands-gallery__swiper-box">
        <div class="brands-gallery__swiper swiper">
          <div class="brands-gallery__swiper-wrapper swiper-wrapper">
            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery1.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Captain fawcett</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery2.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">REBEL</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.бритвенным принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery3.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Morgan’s</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery4.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Wahl</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery1.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Captain fawcett</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery2.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">REBEL</p>
                  <p class="brands-gallery__desc txt20 light lh140">Британский бренд с безупречным стилем, богатой историей</p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery3.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Morgan’s</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>

            <div class="brands-gallery__slide swiper-slide">
              <a href="#" class="brands-gallery__item">
                <div class="brands-gallery__brand">
                  <img src="./assets/images/brandGalery4.webp" alt="" />
                </div>
                <div class="brands-gallery__text flex dc">
                  <p class="brands-gallery__title txt32 upper">Wahl</p>
                  <p class="brands-gallery__desc txt20 light lh140">
                    Британский бренд с безупречным стилем, богатой историей и с собственным музеем, посвященным бритвенным
                    принадлежностям со всего мира.
                  </p>
                </div>

                <div class="brands-gallery__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="brands-gallery__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="brands-gallery__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
