<section class="brand-hero section-wrap">
  <picture class="brand-hero__bg">
    <source srcset="./assets/images/brandHeroBgMob.webp" media="(max-width: 768px)" />
    <source srcset="./assets/images/brandHeroBg.webp" media="(min-width: 769px)" />
    <img src="./assets/images/brandHeroBg.webp" alt="Hero background" />
  </picture>
  <div class="brand-hero__container container">
    <div class="brand-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><p>Бренды</p></li>
        </ul>
      </nav>

      <div class="brand-hero__content flex dc">
        <div class="brand-hero__title flex dc">
          <p class="txt110 upper flex dc">
            <span class="accent-color">бренды</span>
            rebelgroup
          </p>

          <p class="txt18 light lh140">
            Бренды REBEL — это портфель брендов косметики и аксессуаров, который REBELGROUP (ООО «Вайт32 Дистрибьюшн») эксклюзивно
            представляет на территории СНГ.
          </p>
        </div>

        <a href="#" class="accent-btn">сотрудничать с нами</a>
      </div>
    </div>
  </div>
</section>
