<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Контакты</p>
        <a href="#" class="accent-btn" data-da=".contacts__inner, 768, last" data-popup="#popup__application">написать нам</a>
      </div>
      <p class="txt18 light lh140">
        Ссылка на hh.ru
        <a href="https://spb.hh.ru/employer/3246745?hhtmFrom=vacancy" class="accent-color">REBELGROUP</a>
      </p>

      <div class="contacts__content grid">
        <div class="contacts__map-wrap">
          <div class="contacts__map"></div>
          <div class="contacts__map-inc">
            <div class="contacts__map-inc-svg">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.1192 7.47414V1.41243L6.02393 1.37891"
                  stroke="#153842"
                  stroke-width="1.52381"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.97561 12.6518H0.880371V6.52148"
                  stroke="#153842"
                  stroke-width="1.52381"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="contacts__map-inc-svg">
              <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1192 7.4761L10.0239 7.50962V1.38086"
                  stroke="white"
                  stroke-width="1.52381"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.9761 16.6537V10.5585L0.880859 10.5234"
                  stroke="white"
                  stroke-width="1.52381"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="contacts__info grid">
          <div class="contacts__item flex dc">
            <p class="txt20 upper">АДРЕС</p>
            <p class="txt18 light lh140">Москва, ул. Бауманская, 6, БЦ «Виктория Плаза»</p>
          </div>
          <div class="contacts__item flex dc">
            <p class="txt20 upper">ТЕЛЕФОН отдела продаж</p>
            <a href="tel:+74956963132" class="txt18 light lh140">+7 (495) 696-31-32</a>
          </div>
          <div class="contacts__item flex dc">
            <p class="txt20 upper">e-mail</p>
            <div class="contacts__mail-list grid">
              <div class="contacts__mail-item flex dc">
                <a href="mailto:opt@rebelgroup.ru" class="txt18 light lh140">opt@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Связаться по вопросу оптовых закупок или дилерских условий</p>
              </div>
              <div class="contacts__mail-item flex dc">
                <a href="mailto:pr@rebelgroup.ru" class="txt18 light lh140">pr@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Предложить участие в выставке, коллаборацию или публикацию в СМИ</p>
              </div>
              <div class="contacts__mail-item flex dc">
                <a href="mailto:ask@rebelgroup.ru" class="txt18 light lh140">ask@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Оставить отзыв о работе менеджера или качестве товара</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
