<section class="conds-hero _breadcrumbs section-wrap">
  <div class="conds-hero__container container">
    <div class="conds-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><p>Работа</p></li>
        </ul>
      </nav>
      <div class="conds-hero__content flex dc">
        <p class="txt80 upper">
          Работа
          <span class="accent-color">в RebelGroup</span>
        </p>

        <div class="conds-hero__info-wrap flex dc">
          <div class="conds-hero__info flex dc">
            <p class="txt20 light lh140">
              Если бы нас спросили какое сочетание человеческих характеристик или качеств формирует суть компании, то мы бы не
              задумываясь ответили, что это Полезность, Трудолюбие, Ответственность, Честность, Скорость, Постоянное развитие,
              Профессионализм и Продуктивность.
            </p>
            <a href="#" class="accent-btn">все вакансии</a>
          </div>

          <div class="conds-hero__vac-swiper-box flex">
            <div class="conds-hero__vac-next-btn swiper-button-next txt16 upper">Cледующая</div>
            <div class="conds-hero__vac-swiper swiper">
              <div class="swiper-wrapper">
                <div class="conds-hero__vac-slide swiper-slide">
                  <a href="#" class="conds-hero__vac-inner flex">
                    <div class="conds-hero__vac-info flex dc">
                      <p class="txt24 upper">
                        Менеджер по продажам
                        <br />
                        /Sales manager (b2b)
                      </p>
                      <div class="conds-hero__vac-data flex cv txt16 light lh140">
                        <p>Опыт работы: 1–3 года</p>
                        |
                        <p>График: 5/2</p>
                      </div>
                    </div>
                    <div class="conds-hero__vac-link">
                      <img src="./assets/images/arr-right.svg" alt="" />
                    </div>
                  </a>
                </div>
                <div class="conds-hero__vac-slide swiper-slide">
                  <a href="#" class="conds-hero__vac-inner flex">
                    <div class="conds-hero__vac-info flex dc">
                      <p class="txt24 upper">
                        Менеджер по продажам
                        <br />
                        /Sales manager (b2b)
                      </p>
                      <div class="conds-hero__vac-data flex cv txt16 light lh140">
                        <p>Опыт работы: 1–3 года</p>
                        |
                        <p>График: 5/2</p>
                      </div>
                    </div>
                    <div class="conds-hero__vac-link">
                      <img src="./assets/images/arr-right.svg" alt="" />
                    </div>
                  </a>
                </div>
                <div class="conds-hero__vac-slide swiper-slide">
                  <a href="#" class="conds-hero__vac-inner flex">
                    <div class="conds-hero__vac-info flex dc">
                      <p class="txt24 upper">
                        Менеджер по продажам
                        <br />
                        /Sales manager (b2b)
                      </p>
                      <div class="conds-hero__vac-data flex cv txt16 light lh140">
                        <p>Опыт работы: 1–3 года</p>
                        |
                        <p>График: 5/2</p>
                      </div>
                    </div>
                    <div class="conds-hero__vac-link">
                      <img src="./assets/images/arr-right.svg" alt="" />
                    </div>
                  </a>
                </div>
                <div class="conds-hero__vac-slide swiper-slide">
                  <a href="#" class="conds-hero__vac-inner flex">
                    <div class="conds-hero__vac-info flex dc">
                      <p class="txt24 upper">
                        Менеджер по продажам
                        <br />
                        /Sales manager (b2b)
                      </p>
                      <div class="conds-hero__vac-data flex cv txt16 light lh140">
                        <p>Опыт работы: 1–3 года</p>
                        |
                        <p>График: 5/2</p>
                      </div>
                    </div>
                    <div class="conds-hero__vac-link">
                      <img src="./assets/images/arr-right.svg" alt="" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="advantages__pagination swiper-pagination"></div>
          </div>
        </div>
      </div>

      <picture class="conds-hero__bg">
        <source srcset="./assets/images/condsHeroBgMob.webp" media="(max-width: 768px)" />
        <source srcset="./assets/images/condsHeroBg.webp" media="(min-width: 769px)" />
        <img src="./assets/images/condsHeroBg.webp" alt="" />
      </picture>
    </div>
  </div>
</section>

<section class="conds-hero _breadcrumbs section-wrap">
  <div class="conds-hero__container container">
    <div class="conds-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><p>Работа</p></li>
        </ul>
      </nav>
      <div class="conds-hero__content flex dc">
        <p class="txt80 upper">
          Работа
          <span class="accent-color">в RebelGroup</span>
        </p>

        <div class="conds-hero__info-wrap flex dc">
          <div class="conds-hero__info flex dc">
            <p class="txt20 light lh140">
              Если бы нас спросили какое сочетание человеческих характеристик или качеств формирует суть компании, то мы бы не
              задумываясь ответили, что это Полезность, Трудолюбие, Ответственность, Честность, Скорость, Постоянное развитие,
              Профессионализм и Продуктивность.
            </p>
            <a href="#" class="accent-btn">все вакансии</a>
          </div>

          <div class="conds-hero__vac-empty flex dc">
            <div class="conds-hero__vac-empty-text flex dc">
              <p class="txt24 upper">На данный момент вакансии отсутствуют</p>
              <p class="txt18 light lh140">
                Сейчас в нашей компании нет открытых позиций, но мы регулярно обновляем раздел. Заглядывайте позже — возможно,
                именно вас мы ищем. Актуальные вакансии также можно найти на hh.ru.
              </p>
            </div>

            <a href="#" class="conds-hero__hh-link txt20 upper accent-color flex cv">
              Перейти на HH.ru
              <div class="conds-hero__hh-link-svg">
                <img src="./assets/images/arrRight.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>

      <picture class="conds-hero__bg">
        <source srcset="./assets/images/condsHeroBgMob.webp" media="(max-width: 768px)" />
        <source srcset="./assets/images/condsHeroBg.webp" media="(min-width: 769px)" />
        <img src="./assets/images/condsHeroBg.webp" alt="" />
      </picture>
    </div>
  </div>
</section>
