<section class="contacts contacts--grid contacts--det">
  <div class="contacts__container container">
    <div class="contacts__inner flex dc">
      <div class="contacts__head flex dc ">
        <div class="contacts__title flex dc">
          <p class="txt60 upper">Контакты</p>
          <a href="#" class="accent-btn" data-da=".contacts__inner, 768, last" data-popup="#popup__application">написать нам</a>
        </div>
        <p class="txt18 light lh140">
          Ссылка на hh.ru
          <a href="https://spb.hh.ru/employer/3246745?hhtmFrom=vacancy" class="accent-color">REBELGROUP</a>
        </p>
      </div>
      <div class="contacts__map-wrap" data-da=".contacts__content, 768, first">
        <div class="contacts__map"></div>
        <div class="contacts__map-inc">
          <div class="contacts__map-inc-svg">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.1192 7.47414V1.41243L6.02393 1.37891"
                stroke="#153842"
                stroke-width="1.52381"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.97561 12.6518H0.880371V6.52148"
                stroke="#153842"
                stroke-width="1.52381"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="contacts__map-inc-svg">
            <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1192 7.4761L10.0239 7.50962V1.38086"
                stroke="white"
                stroke-width="1.52381"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.9761 16.6537V10.5585L0.880859 10.5234"
                stroke="white"
                stroke-width="1.52381"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="contacts__content">
        <div class="contacts__info flex dc">
          <div class="contacts__item flex dc">
            <p class="txt20 ">Контактная информация отдела продаж:</p>
            <ul class="contacts__item-list grid">
              <li class="contacts__item-item  flex cv" >
                <p class="txt20 upper tertiary-color">Телефон:</p>
                <a href="tel:+74959693132" class="txt18 light lh140">+7 (495) 969-31-32</a>
              </li>
              <li class="contacts__item-item flex cv">
                <p class="txt20 upper tertiary-color">e-mail:</p>
                <a href="mailto:opt@rebelgroup.ru" class="txt18 light lh140">opt@rebelgroup.ru</a>
              </li>
            </ul>
          </div>
          <div class="contacts__item flex dc">
            <p class="txt20 ">Контактная для отзывов о работе менеджеров или о качестве продукции:</p>
            <ul class="contacts__item-list grid">
             
              <li class="contacts__item-item  flex cv">
                <p class="txt20 upper tertiary-color">e-mail:</p>
                <a href="mailto:ask@rebelgroup.ru" class="txt18 light lh140">ask@rebelgroup.ru</a>
              </li>
            </ul>
          </div>
         
        </div>
      </div>
      <div class="contacts__details flex dc">
        <p class="txt20 upper light">Реквизиты компании</p>
        <ul class="contacts__det-list flex dc txt18 light lh140">
          <li class="contacts__det-item">
            Полное наименование:
            <span class="tertiary-color">Общество с ограниченной ответственностью «ВАЙТ32 ДИСТРИБЬЮШН»</span>
          </li>
          <li class="contacts__det-item">
            Юридический адрес:
            <span class="tertiary-color">
              г. Санкт-Петербург, вн.тер.г. муниципальный округ Дворцовый округ, наб. Реки Мойки, д. 40, литера А, офис 10-Н
            </span>
          </li>
          <li class="contacts__det-item">
            ОГРН:
            <span class="tertiary-color">1167847084899</span>
          </li>
          <li class="contacts__det-item">
            ИНН:
            <span class="tertiary-color">7841034561</span>
          </li>
          <li class="contacts__det-item">
            КПП:
            <span class="tertiary-color">784101001</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
