<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Контакты</p>
        <a href="#" class="accent-btn" data-da=".contacts__inner, 768, last" data-popup="#popup__application">написать нам</a>
      </div>
      <p class="txt18 light lh140">
        Ссылка на hh.ru
        <a href="https://spb.hh.ru/employer/3246745?hhtmFrom=vacancy" class="accent-color">REBELGROUP</a>
      </p>

      <div class="contacts__content grid">
        <div class="contacts__map-wrap">
          <div class="contacts__map"></div>
          <div class="contacts__map-inc">   </div>
        </div>
        <div class="contacts__info grid">
          <div class="contacts__item flex dc">
            <p class="txt20 upper">АДРЕС</p>
            <p class="txt18 light lh140">Москва, ул. Бауманская, 6, БЦ «Виктория Плаза»</p>
          </div>
          <div class="contacts__item flex dc">
            <p class="txt20 upper">ТЕЛЕФОН отдела продаж</p>
            <a href="tel:+74956963132" class="txt18 light lh140">+7 (495) 696-31-32</a>
          </div>
          <div class="contacts__item flex dc">
            <p class="txt20 upper">e-mail</p>
            <div class="contacts__mail-list grid">
              <div class="contacts__mail-item flex dc">
                <a href="mailto:opt@rebelgroup.ru" class="txt18 light lh140">opt@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Связаться по вопросу оптовых закупок или дилерских условий</p>
              </div>
              <div class="contacts__mail-item flex dc">
                <a href="mailto:pr@rebelgroup.ru" class="txt18 light lh140">pr@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Предложить участие в выставке, коллаборацию или публикацию в СМИ</p>
              </div>
              <div class="contacts__mail-item flex dc">
                <a href="mailto:ask@rebelgroup.ru" class="txt18 light lh140">ask@rebelgroup.ru</a>
                <p class="txt16 light tertiary-color">Оставить отзыв о работе менеджера или качестве товара</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
