<section class="cooperations section-wrap">
  <div class="cooperations__container container">
    <div class="cooperations__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">сотрудничество</p>
        <a href="#" class="accent-btn" data-da=".cooperations__inner, 768, last">сотрудничать с нами</a>
      </div>
      <div class="cooperations__swiper-box">
        <div class="cooperations__swiper swiper swiper-grid">
          <div class="cooperations__swiper-wrapper swiper-wrapper">
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation1.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">
                      Барбершопы
                      <br />
                      и Салоны красоты
                    </p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation2.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">Академии и школы</p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation3.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">
                      Дистрибьюторы
                      <br />
                      и Дилеры
                    </p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation4.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">
                      Профессиональные
                      <br />
                      сети
                    </p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation5.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">Интернет-магазины</p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation6.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">Розничные покупатели</p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation7.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">Частные мастера</p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cooperations__slide swiper-slide">
              <a href="#" class="cooperation-el flex dc">
                <div class="cooperation-el__img">
                  <img src="./assets/images/cooperation8.webp" alt="" />
                </div>
                <div class="cooperation-el__content flex dc">
                  <div class="cooperation-el__title-box flex cv">
                    <p class="cooperation-el__title txt24 upper">Реклама и СМИ</p>
                  </div>
                  <div class="cooperation-el__hide">
                    <div class="cooperation-el__hide-inner flex dc">
                      <p class="cooperation-el__hide-text txt16 light lh140">
                        REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных
                        материалов. REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и
                        расходных материалов.
                      </p>

                      <div class="cooperation-el__hide-link flex cv">
                        <p class="txt18 lh140 upper">подробнее</p>
                        <div class="cooperation-el__hide-svg">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                              fill="#FFC458"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="cooperations__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
