<section class="coop-det-hero _breadcrumbs">
  <div class="coop-det-hero__container container">
    <div class="coop-det-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Сотрудничество</a></li>
          <li><p>Барбершопы и салоны красоты</p></li>
        </ul>
      </nav>

      <div class="coop-det-hero__content flex dc">
        <p class="txt60 upper">Барбершопы и салоны красоты</p>
        <div class="coop-det-hero__info flex cv">
          <div class="coop-det-hero__img">
            <img src="./assets/images/coopDetHeroImg.webp" alt="" />
          </div>
          <div class="coop-det-hero__text-wrap flex dc">
            <p class="txt32 upper">НЕОСПОРИМЫЕ ПРЕИМУЩЕСТВА РАБОТЫ БАРБЕРШОПОВ И САЛОНОВ С REBELGROUP</p>
            <div class="coop-det-hero__important">
              <p class="txt18 light lh140">
                REBELGROUP — это комплексный поставщик Английской косметики, инструментов, аксессуаров и расходных материалов для
                барбершопов и мужского зала салонов красоты. С нами вы закрываете под ключ до 95% ваших потребностей: от
                расходников до косметики в работу и на продажу.
                <br />
                <br />
                За счет продуманной логистики и прямой работы с производителями, а также благодаря доставки на следующий рабочий
                день без минимальной суммы заказа премиальные продукты стали доступными каждому на территории России.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
