<section class="data-sout">
  <div class="data-sout__container container">
    <div class="data-sout__inner flex">
      <div class="data-sout__head flex dc">
        <p class="txt60 upper">Данные о СОУТ</p>
        <p class="txt18 light lh140">
          Мы уделяем большое внимание созданию безопасных и комфортных условий труда. Здесь вы найдете результаты специальной
          оценки условий труда (СОУТ). Все материалы обновляются своевременно и отражают реальные условия работы.
        </p>
        <a href="" class="data-sout__btn accent-btn" data-da=".data-sout__inner, 768, last">Принять и закрыть</a>
      </div>
      <ul class="data-sout__list flex dc">
        <li class="data-sout__item flex dc">
          <p class="txt20 upper">Сводная ведомость по результатам СОУТ</p>
          <div class="data-sout__item-info flex dc">
            <p class="data-sout__item-desc txt18 light lh140">
              Документ с итогами проведённой оценки условий труда по всем рабочим местам организации. Содержит общую информацию о
              выявленных факторах и классах условий труда.
            </p>
            <a href="#" class="data-sout__item-link flex cv">
              <div class="data-sout__item-svg">
                <img src="./assets/images/pdf.svg" alt="" />
              </div>
              <p class="txt18 accent-color">Скачать в формате .pdf</p>
            </a>
          </div>
        </li>
        <li class="data-sout__item flex dc">
          <p class="txt20 upper">Перечень мероприятий по улучшению условий труда</p>
          <div class="data-sout__item-info flex dc">
            <p class="data-sout__item-desc txt18 light lh140">
              Список конкретных действий, направленных на снижение вредных факторов и повышение безопасности рабочих мест.
              Позволяет контролировать план и сроки их реализации.
            </p>
            <a href="#" class="data-sout__item-link flex cv">
              <div class="data-sout__item-svg">
                <img src="./assets/images/pdf.svg" alt="" />
              </div>
              <p class="txt18 accent-color">Скачать в формате .pdf</p>
            </a>
          </div>
        </li>
        <li class="data-sout__item flex dc">
          <p class="txt20 upper">Карты СОУТ по рабочим местам</p>
          <div class="data-sout__item-info flex dc">
            <p class="data-sout__item-desc txt18 light lh140">
              Подробные документы по каждому рабочему месту с указанием условий труда, классов вредности и положенных компенсаций.
              
            </p>
            <a href="#" class="data-sout__item-link flex cv">
              <div class="data-sout__item-svg">
                <img src="./assets/images/pdf.svg" alt="" />
              </div>
              <p class="txt18 accent-color">Скачать в формате .pdf</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
