<section class="dna section-wrap">
  <div class="dna__container container">
    <div class="dna__inner">
      <div class="dna__title flex dc">
        <p class="txt60 upper">Днк компании</p>
        <p class="txt18 light lh140">Сочетание характеристик и качеств, которые формируют суть REBELGROUP</p>
      </div>

      <div class="dna__content">
        <div class="dna__bg">
          <img src="./assets/images/dnaBg.webp" alt="" class="desktop" />
          <img src="./assets/images/dnaBgMob.webp" alt="" class="mobile" />
          <!-- <video class="" preload="metadata" autoplay muted playsinline loop>
            <source src="./assets/images/videoTest.mp4" type="video/mp4" />
          </video> -->
        </div>
        <div class="dna__swiper-box">
          <div class="dna__swiper swiper">
            <div class="dna__swiper-wrapper swiper-wrapper">
              <div class="dna__slide swiper-slide">
                <div class="dna__slide-inner flex dc">
                  <p class="txt24 light upper">
                    Ответственность
                    <br />
                    и честность
                  </p>
                  <p class="txt18 light">Мы честны с клиентами и честны с сотрудниками. Пообещали — сделали.</p>
                </div>
              </div>
              <div class="dna__slide swiper-slide">
                <div class="dna__slide-inner flex dc">
                  <p class="txt24 light upper">
                    Справедливость
                    <br />
                    и трудолюбие
                  </p>
                  <p class="txt18 light">
                    Мы любим работать и получаем от этого удовольствие. Трудолюбивых и инициативных продвигаем и награждаем.
                  </p>
                </div>
              </div>
              <div class="dna__slide swiper-slide">
                <div class="dna__slide-inner flex dc">
                  <p class="txt24 light upper">
                    Развитие

                    <br />
                    и профессионализм
                  </p>
                  <p class="txt18 light">
                    Регулярные обучения и мозговые штурмы. Учимся у лучших и друг у друга. В команде каждый раскрывает свой
                    потенциал.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="dna__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
