<section class="dna-hero section-wrap ">
  <picture class="dna-hero__bg">
    <source srcset="./assets/images/dnaHeroBgMob.webp" media="(max-width: 768px)" />
    <source srcset="./assets/images/dnaHeroBg.webp" media="(min-width: 769px)" />
    <img src="./assets/images/heroBg.webp" alt="Hero background" />
  </picture>
  <div class="dna-hero__container container">
    <div class="dna-hero__inner grid">
      <div class="dna-hero__content flex dc">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list txt16">
            <li><a href="#">Главная</a></li>
            <li><p>ДНК</p></li>
          </ul>
        </nav>
        <div class="dna-hero__info flex dc">
          <div class="dna-hero__head flex dc">
            <p class="txt110 upper flex dc">
              <span class="accent-color">днк</span> 
              компании
            </p>

            <p class="txt18 light lh140">
              ДНК компании — это наш внутренний код, который определяет, как мы думаем, действуем и создаём. В основе Rebelgroup —
              смелость, открытость новому и стремление быть на шаг впереди. Мы соединяем стратегию и креатив, технологии и
              человеческий подход, чтобы находить решения, которые работают сегодня и формируют будущее завтра.
            </p>
          </div>

          <button class="accent-btn">сотрудничать с нами</button>
        </div>
      </div>
    </div>
  </div>
</section>
