<section class="env-hero _breadcrumbs">
  <div class="env-hero__container container">
    <div class="env-hero__inner flex">
      <div class="env-hero__content flex dc">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list txt16">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Работа</a></li>
            <li><p>Рабочая среда</p></li>
          </ul>
        </nav>

        <div class="env-hero__info flex dc">
          <div class="env-hero__text flex dc">
            <p class="txt80 upper flex dc">
              <span class="accent-color">рабочая среда</span>
              в rebelgroup
            </p>
            <p class="txt18 light lh14">
              В компании RebelGroup сформирована функциональная рабочая среда, которая объединяет современные инструменты, четко
              выстроенные процессы и комфортные условия для сотрудников, позволяя каждому максимально раскрывать свой потенциал и
              эффективно вносить вклад в общее развитие компании. Мы работаем по принципу win-win, когда компания и сотрудники
              максимально открыты друг к другу.
            </p>
          </div>
          <button class="accent-btn" data-popup="#popup__application">написать нам</button>
        </div>
      </div>
      <div class="env-hero__img">
        <img src="./assets/images/envHeroImg.webp" alt="" />
      </div>
    </div>
  </div>
</section>
