<footer class="footer">
  <div class="footer__content">
    <div class="footer__container container">
      <div class="footer__inner grid">
        <div class="footer__text flex dc">
          <a href="#" class="footer__logo logo">
            <img src="./assets/images/logo.svg" alt="" />
          </a>

          <p class="txt20 light">
            образцовый представитель и комплексный поставщик косметики, аксессуаров и инструментов в работу для барбершопов,
            салонов красоты и парикмахерских из Великобритании и США.
          </p>
        </div>

        <div class="footer__socials flex dc">
          <p class="txt20 upper">Мы в социальных сетях:</p>

          <ul class="footer__social-list txt16 light flex cv">
            <li>
              <a href="#" class="footer__social-link flex cv">
                <div class="footer__social-svg">
                  <img src="./assets/images/vk.svg" alt="" />
                </div>
                <p>ВКонтакте</p>
              </a>
            </li>
            <li>
              <a href="#" class="footer__social-link flex cv">
                <div class="footer__social-svg">
                  <img src="./assets/images/youtube.svg" alt="" />
                </div>
                <p>YouTube</p>
              </a>
            </li>
            <li>
              <a href="#" class="footer__social-link flex cv">
                <div class="footer__social-svg">
                  <img src="./assets/images/telegram.svg" alt="" />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="#" class="footer__social-link flex cv">
                <div class="footer__social-svg">
                  <img src="./assets/images/dzen.svg" alt="" />
                </div>
                <p>Дзен</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__info flex cv sb tertiary-color txt18 light">
          <div class="footer__links flex cv">
            <a href="">Политика конфиденциальности</a>
            <a href="">Публичная оферта</a>
          </div>
          <p>Copyright 2025</p>
        </div>
      </div>
    </div>
    <div class="footer__decor absolute">
      <img src="./assets/images/footerDecor.svg" alt="" />
    </div>
  </div>

  <a class="footer__ub-btn absolute txt12 tertiary-color light nav-top-link">
    <p class="footer__ub-text">Наверх</p>
    <div class="footer__ub-svg">
      <img src="./assets/images/arrow-top.svg" alt="" />
    </div>
  </a>
</footer>

<div class="cookie cookie--show flex dc">
  <p class="txt18 light">
    Этот сайт использует cookie для хранения данных. Продолжая использовать сайт, Вы даете согласие на работу с этими файлами.
  </p>

  <button class="cookie__btn accent-btn">Принять и закрыть</button>
</div>
