<header class="header" id="header">
  <div class="container">
    <div class="header__inner flex cv sb">
      <a href="#" class="header__logo logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>

      <nav class="header__nav flex cv sb txt18 light" data-lenis-prevent="true">
        <div class="header__nav-inner flex cv sb">
          <ul class="header__list flex cv">
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">О компании</a>
              </div>
            </li>
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">Бренды</a>
                <div class="header__link-svg">
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.5 9.55469L9.65 15.4118C9.69489 15.4574 9.74911 15.4937 9.80931 15.5185C9.8695 15.5433 9.9344 15.5561 10 15.5561C10.0656 15.5561 10.1305 15.5433 10.1907 15.5185C10.2509 15.4937 10.3051 15.4574 10.35 15.4118L16.5 9.55469"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>

              <div class="header__nav-modal">
                <ul class="header__nav-modal-list">
                  <li>
                    <a href="#">MORGAN’S</a>
                  </li>
                  <li>
                    <a href="#">REBEL</a>
                  </li>
                  <li>
                    <a href="#">Captain fawcett</a>
                  </li>
                  <li>
                    <a href="#">Edwin Jagger</a>
                  </li>
                  <li>
                    <a href="#">Andis</a>
                  </li>
                  <li>
                    <a href="#">Wahl</a>
                  </li>
                  <li>
                    <a href="#">Predator</a>
                  </li>
                  <li>
                    <a href="#">Matakki</a>
                  </li>
                  <li>
                    <a href="#">Kopexidil</a>
                  </li>
                  <li>
                    <a href="#">Wave</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">Работа</a>
                <div class="header__link-svg">
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.5 9.55469L9.65 15.4118C9.69489 15.4574 9.74911 15.4937 9.80931 15.5185C9.8695 15.5433 9.9344 15.5561 10 15.5561C10.0656 15.5561 10.1305 15.5433 10.1907 15.5185C10.2509 15.4937 10.3051 15.4574 10.35 15.4118L16.5 9.55469"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="header__nav-modal">
                <ul class="header__nav-modal-list">
                  <li>
                    <a href="#">ДНК компании</a>
                  </li>
                  <li>
                    <a href="#">Отношение</a>
                  </li>
                  <li>
                    <a href="#">Вакансии</a>
                  </li>
                  <li>
                    <a href="#">Рабочая среда</a>
                  </li>
                  <li>
                    <a href="#">СОУТ</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">Сотрудничество</a>
                <div class="header__link-svg">
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.5 9.55469L9.65 15.4118C9.69489 15.4574 9.74911 15.4937 9.80931 15.5185C9.8695 15.5433 9.9344 15.5561 10 15.5561C10.0656 15.5561 10.1305 15.5433 10.1907 15.5185C10.2509 15.4937 10.3051 15.4574 10.35 15.4118L16.5 9.55469"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="header__nav-modal">
                <ul class="header__nav-modal-list">
                  <li>
                    <a href="#">Барбершопы и салоны красоты</a>
                  </li>
                  <li>
                    <a href="#">Академии и школы</a>
                  </li>
                  <li>
                    <a href="#">Дистибьюеры и Дилеры</a>
                  </li>
                  <li>
                    <a href="#">Профессиональные сети</a>
                  </li>
                  <li>
                    <a href="#">Интернет-магазины</a>
                  </li>
                  <li>
                    <a href="#">Частные мастера</a>
                  </li>
                  <li>
                    <a href="#">Розничные покупатели</a>
                  </li>
                  <li>
                    <a href="#">Реклама и СМИ</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">Новости</a>
              </div>
            </li>
            <li class="header__nav-item">
              <div class="header__link-box">
                <a href="#" class="header__link">Контакты</a>
              </div>
            </li>
          </ul>
          <div class="header__socials flex cv">
            <a href="tel:+74959693132" class="header__social accent-color">+7 (495) 969-31-32</a>
            <a href="mailto:opt@rebelgroup.ru" class="header__social accent-color">opt@rebelgroup.ru</a>
          </div>
          <div class="header__burger-lang relative txt18 light flex cv">
            <label class="header__burger-lang-label">
              <input type="radio" name="burgerLang" data-lang="RU" checked />
              <span>RU</span>
            </label>
            <label class="header__burger-lang-label">
              <input type="radio" name="burgerLang" data-lang="ENG" />
              <span>ENG</span>
            </label>
          </div>
        </div>
      </nav>

      <div class="header__btns flex cv">
        <div class="header__lang relative txt18 light">
          <button class="header__lang-top flex cv">
            <p class="header__lang-top-text">RU</p>
            <div class="header__lang-svg">
              <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.5 9.55469L9.65 15.4118C9.69489 15.4574 9.74911 15.4937 9.80931 15.5185C9.8695 15.5433 9.9344 15.5561 10 15.5561C10.0656 15.5561 10.1305 15.5433 10.1907 15.5185C10.2509 15.4937 10.3051 15.4574 10.35 15.4118L16.5 9.55469"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
          <div class="header__lang-bottom-wrap" data-lenis-prevent="true">
            <div class="header__lang-bottom">
              <div class="header__lang-wrap flex dc">
                <label class="header__lang-label">
                  <input type="radio" name="header__lang" data-lang="RU" checked />
                  <span class="header__lang-inner flex cv">
                    <span class="header__lang-point"></span>
                    <span class="header__lang-text">RU — Русский</span>
                  </span>
                </label>
                <label class="header__lang-label">
                  <input type="radio" name="header__lang" data-lang="ENG" />
                  <span class="header__lang-inner flex cv">
                    <span class="header__lang-point"></span>
                    <span class="header__lang-text">ENG — English</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <button class="header__burger mobile">
          <img src="./assets/images/burger.svg" alt="" />
          <img src="./assets/images/burgerClose.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</header>
