<header class="header" id="header">
  <div class="container">
    <div class="header__inner flex cv sb">
      <a href="#" class="logo" >
        <img src="./assets/images/logo.svg" alt="" />
      </a>

      <nav class="header__nav flex cv sb txt18 light">
        <ul class="header__list flex cv">
          <li>
            <a href="#" class="header__link">О компании</a>
          </li>
          <li>
            <a href="#" class="header__link">Бренды</a>
          </li>
          <li>
            <a href="#" class="header__link">Работа</a>
          </li>
          <li>
            <a href="#" class="header__link">Сотрудничество</a>
          </li>
          <li>
            <a href="#" class="header__link">Новости</a>
          </li>
          <li>
            <a href="#" class="header__link">Контакты</a>
          </li>
        </ul>
        <div class="header__socials flex cv">
          <a href="tel:+74959693132" class="header__social accent-color">+7 (495) 969-31-32</a>
          <a href="mailto:opt@rebelgroup.ru" class="header__social accent-color">opt@rebelgroup.ru</a>
        </div>
      </nav>

      <div class="header__btns flex cv">
        <div class="header__lang relative txt18 light">
          <button class="header__lang-top flex cv">
            <p>RU</p>
            <div class="header__lang-svg">
              <img src="./assets/images/arr-down.svg" alt="" />
            </div>
          </button>
          <div class="header__lang-bottom absolute"></div>
        </div>

        <button class="header__burger mobile">
          <img src="./assets/images/burger.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</header>
