<section class="horisontal">
  <div class="horisontal__nav txt20 upper">
    <div class="horisontal__nav-list flex cv">
      <a href="#MORGAN’S" class="horisontal__nav-link nav-link isActive">MORGAN’S</a>
      <a href="#REBEL" class="horisontal__nav-link nav-link">REBEL</a>
      <a href="#Captain Fawcett" class="horisontal__nav-link nav-link">Captain Fawcett</a>
      <a href="#Edwin Jagger" class="horisontal__nav-link nav-link">Edwin Jagger</a>
      <a href="#Andis" class="horisontal__nav-link nav-link">Andis</a>
      <a href="#Wahl" class="horisontal__nav-link nav-link">Wahl</a>
      <a href="#Predator" class="horisontal__nav-link nav-link">Predator</a>
      <a href="#Matakki" class="horisontal__nav-link nav-link">Matakki</a>
      <a href="#Kopexidil" class="horisontal__nav-link nav-link">Kopexidil</a>
      <a href="#Wave" class="horisontal__nav-link nav-link">Wave</a>
    </div>
  </div>
  <div class="horisontal__container">
    <div class="horisontal__inner">
      <div id="MORGAN’S" class="horisontal__row-wrap">
        <div class="horisontal__row">
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <div class="txt20">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non,
                sit quis atque fugiat quidem et iusto ullam odit beatae omnis, itaque natus officia culpa molestias voluptatem
                dolore totam consequatur. Quod, laudantium suscipit? Ipsam commodi accusantium ratione, perspiciatis suscipit
                exercitationem voluptatibus! Neque aspernatur quam maiores dolore aut similique odit ea perferendis enim itaque.
                Maxime et perferendis eligendi assumenda, atque ipsa autem aperiam tenetur dolore. Nesciunt iure minus distinctio
                rerum dolore maiores consequuntur voluptates incidunt sunt aut nostrum tempore ipsa eius sit nemo natus, a
                repellat recusandae provident dolores? Quo asperiores corrupti dicta inventore esse?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non, sit quis atque fugiat quidem
                et iusto ullam odit beatae omnis, itaque natus officia culpa molestias voluptatem dolore totam consequatur. Quod,
                laudantium suscipit? Ipsam commodi accusantium ratione, perspiciatis suscipit exercitationem voluptatibus! Neque
                aspernatur quam maiores dolore aut similique odit ea perferendis enim itaque. Maxime et perferendis eligendi
                assumenda, atque ipsa autem aperiam tenetur dolore. Nesciunt iure minus distinctio rerum dolore maiores
                consequuntur voluptates incidunt sunt aut nostrum tempore ipsa eius sit nemo natus, a repellat recusandae
                provident dolores? Quo asperiores corrupti dicta inventore esse?Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non, sit quis atque fugiat quidem et iusto ullam odit
                beatae omnis, itaque natus officia culpa molestias voluptatem dolore totam consequatur. Quod, laudantium suscipit?
                Ipsam commodi accusantium ratione, perspiciatis suscipit exercitationem voluptatibus! Neque aspernatur quam
                maiores dolore aut similique odit ea perferendis enim itaque. Maxime et perferendis eligendi assumenda, atque ipsa
                autem aperiam tenetur dolore. Nesciunt iure minus distinctio rerum dolore maiores consequuntur voluptates incidunt
                sunt aut nostrum tempore ipsa eius sit nemo natus, a repellat recusandae provident dolores? Quo asperiores
                corrupti dicta inventore esse?
              </div>
            </div>
          </div>
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <img src="./assets/images/heroBg.webp" alt="" />
            </div>
          </div>
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <img src="./assets/images/heroBg2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div id="REBEL" class="horisontal__row-wrap">
        <div class="horisontal__row">
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <div class="txt20">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non,
                sit quis atque fugiat quidem et iusto ullam odit beatae omnis, itaque natus officia culpa molestias voluptatem
                dolore totam consequatur. Quod, laudantium suscipit? Ipsam commodi accusantium ratione, perspiciatis suscipit
                exercitationem voluptatibus! Neque aspernatur quam maiores dolore aut similique odit ea perferendis enim itaque.
                Maxime et perferendis eligendi assumenda, atque ipsa autem aperiam tenetur dolore. Nesciunt iure minus distinctio
                rerum dolore maiores consequuntur voluptates incidunt sunt aut nostrum tempore ipsa eius sit nemo natus, a
                repellat recusandae provident dolores? Quo asperiores corrupti dicta inventore esse?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non, sit quis atque fugiat quidem
                et iusto ullam odit beatae omnis, itaque natus officia culpa molestias voluptatem dolore totam consequatur. Quod,
                laudantium suscipit? Ipsam commodi accusantium ratione, perspiciatis suscipit exercitationem voluptatibus! Neque
                aspernatur quam maiores dolore aut similique odit ea perferendis enim itaque. Maxime et perferendis eligendi
                assumenda, atque ipsa autem aperiam tenetur dolore. Nesciunt iure minus distinctio rerum dolore maiores
                consequuntur voluptates incidunt sunt aut nostrum tempore ipsa eius sit nemo natus, a repellat recusandae
                provident dolores? Quo asperiores corrupti dicta inventore esse?Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Fugit voluptate nesciunt quasi adipisci. Nemo est non, sit quis atque fugiat quidem et iusto ullam odit
                beatae omnis, itaque natus officia culpa molestias voluptatem dolore totam consequatur. Quod, laudantium suscipit?
                Ipsam commodi accusantium ratione, perspiciatis suscipit exercitationem voluptatibus! Neque aspernatur quam
                maiores dolore aut similique odit ea perferendis enim itaque. Maxime et perferendis eligendi assumenda, atque ipsa
                autem aperiam tenetur dolore. Nesciunt iure minus distinctio rerum dolore maiores consequuntur voluptates incidunt
                sunt aut nostrum tempore ipsa eius sit nemo natus, a repellat recusandae provident dolores? Quo asperiores
                corrupti dicta inventore esse?
              </div>
            </div>
          </div>
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <img src="./assets/images/heroBg.webp" alt="" />
            </div>
          </div>
          <div class="horisontal__screen">
            <div class="horisontal__screen-inner container">
              <img src="./assets/images/heroBg2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
