<section class="how-order">
  <div class="how-order__container container">
    <div class="how-order__inner">
      <div class="how-order__content flex dc">
        <p class="txt60 upper">Как заказать в салон</p>
        <div class="how-order__info flex dc">
          <p class="txt32 upper">есть два способа:</p>
          <ul class="how-order__list flex dc">
            <li class="how-order__item flex dc">
              <p class="txt24 upper">Дистрибьютор</p>
              <p class="txt18 light lh140">
                Если в вашем регионе есть наш дистрибьютор, то по вопросам оптовых закупок, пожалуйста, обращайтесь к нему.
              </p>
            </li>
            <li class="how-order__item flex dc">
              <p class="txt24 upper">написать нам на почту</p>
              <p class="txt18 light lh140">
                Напишите нам на почту 
                <a href="mailto:opt@rebelgroup.ru">opt@rebelgroup.ru</a>
                . В письме укажите свой город, ФИО и контактные данные, и мы с вами свяжемся.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="how-order__img">
        <img src="./assets/images/howOrderImg.webp" alt="" />
      </div>
    </div>
  </div>
</section>
