<section class="last-news">
  <div class="last-news__container container">
    <div class="last-news__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Последние новости</p>
      </div>
      <div class="last-news__list-box flex dc">
        <div class="last-news__list grid">
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
          <a href="#" class="news-el flex dc sb">
            <div class="news-el__title flex dc">
              <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
              <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
            </div>

            <p class="news-el__desc txt16 light lh140">
              30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
              советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная
              отраслевая премия для героев рынка онлайн-торговли.
            </p>

            <div class="news-el__arr">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                  fill="#FFC458"
                />
              </svg>
            </div>

            <div class="news-el__img">
              <img src="./assets/images/news.webp" alt="" />
            </div>
          </a>
        </div>

        <button class="last-news__more flex cv">
          <p class="txt24 upper accent-color">Загрузить еще</p>
          <div class="last-news__more-svg">
            <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.8007 36.713C20.1912 37.1035 20.8244 37.1035 21.2149 36.713L27.5789 30.349C27.9694 29.9585 27.9694 29.3253 27.5789 28.9348C27.1884 28.5443 26.5552 28.5443 26.1647 28.9348L20.5078 34.5916L14.851 28.9348C14.4604 28.5443 13.8273 28.5443 13.4367 28.9348C13.0462 29.3253 13.0462 29.9585 13.4367 30.349L19.8007 36.713ZM20.5078 4.00586L19.5078 4.00586L19.5078 36.0059L20.5078 36.0059L21.5078 36.0059L21.5078 4.00586L20.5078 4.00586Z"
                fill="#FFC458"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
