<section class="management">
  <div class="management__container container">
    <div class="management__inner flex">
      <div class="management__content-wrap flex dc sb">
        <p class="txt60 upper">Руководство rebelgroup</p>
        <div class="management__info flex dc">
          <div class="management__text-box flex dc">
            <div class="management__text flex dc">
              <div class="management__person flex dc">
                <p class="txt32 upper">Илья Кузнецов</p>
                <p class="txt18 light tertiary-color">Генеральный директор REBELGROUP</p>
              </div>

              <p class="txt18 light lh140">
                Предприниматель, визионер. Основатель REBELGROUP.
                <br />
                В бизнесе со студенческой скамьи. По образованию экономист-аналитик. Организовал процветающий бизнес в России,
                сотрудничая с США, Европой и КНР.
              </p>
            </div>
          </div>

          <a href="#" class="accent-btn">вся компанда</a>
        </div>
      </div>
      <div class="management__img-wrap flex">
        <div class="management__img-min">
          <img src="./assets/images/managementMin.webp" alt="" />
        </div>
        <div class="management__img-max" data-da=".management__text-box, 768, first">
          <img src="./assets/images/managementMax.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
