<section class="news-hero section-wrap _breadcrumbs">
  <div class="news-hero__container container">
    <div class="news-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><p>Новости</p></li>
        </ul>
      </nav>

      <div class="news-hero__content flex dc">
        <p class="txt60 upper">новости</p>
        <div class="news-hero__swiper-wrap">
          <div class="news-hero__news-swiper swiper">
            <div class="swiper-wrapper">
              <div class="news-hero__news-slide swiper-slide">
                <div class="news-hero__news flex dc sb">
                  <p class="txt20 light lh140 tertiary-color">12/07/2025</p>
                  <div class="news-hero__news-info flex dc">
                    <p class="txt32 upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                    <p class="txt18 light lh140">
                      30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023. Девять часов главные представители
                      индустрии рассказывали о новостях и трендах, делились советами и неожиданными инсайтами. Также на
                      конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная отраслевая премия для героев рынка
                      онлайн-торговли.
                    </p>
                    <a href="#" class="accent-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="news-hero__news-slide swiper-slide">
                <div class="news-hero__news flex dc sb">
                  <p class="txt20 light lh140 tertiary-color">12/07/2025</p>
                  <div class="news-hero__news-info flex dc">
                    <p class="txt32 upper">снова стала мультиселлером года Абсолютные чемпионы: REBELGROUP</p>
                    <p class="txt18 light lh140">
                      30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023. Девять часов главные представители
                      индустрии рассказывали о новостях и трендах, делились советами и неожиданными инсайтами. Также на
                      конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная отраслевая премия для героев рынка
                      онлайн-торговли.
                    </p>
                    <a href="#" class="accent-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="news-hero__news-slide swiper-slide">
                <div class="news-hero__news flex dc sb">
                  <p class="txt20 light lh140 tertiary-color">12/07/2025</p>
                  <div class="news-hero__news-info flex dc">
                    <p class="txt32 upper">
                      Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года Абсолютные чемпионы: REBELGROUP
                    </p>
                    <p class="txt18 light lh140">
                      30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023. Девять часов главные представители
                      индустрии рассказывали о новостях и трендах, делились советами и неожиданными инсайтами. Также на
                      конференции вручили награды Tinkoff eCommerce Awards 2023, это ежегодная отраслевая премия для героев рынка
                      онлайн-торговли.
                    </p>
                    <a href="#" class="accent-btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="news-hero__nav-box">
            <div class="news-hero__next-btn swiper-button-next txt16 upper">
              <div class="news-hero__next-btn-inner">Cледующий</div>
            </div>
            <div class="news-hero__next-swiper">
              <div class="swiper-wrapper">
                <div class="news-hero__next-slide swiper-slide">
                  <div class="news-hero__next">
                    <div class="news-hero__next-img">
                      <img src="./assets/images/newsHeroBg1.webp" alt="" />
                    </div>
                    <div class="news-hero__next-link"><img src="./assets/images/arr-right.svg" alt="" /></div>
                  </div>
                </div>
                <div class="news-hero__next-slide swiper-slide">
                  <div class="news-hero__next">
                    <div class="news-hero__next-img">
                      <img src="./assets/images/envHeroImg.webp" alt="" />
                    </div>
                    <div class="news-hero__next-link"><img src="./assets/images/arr-right.svg" alt="" /></div>
                  </div>
                </div>
                <div class="news-hero__next-slide swiper-slide">
                  <div class="news-hero__next">
                    <div class="news-hero__next-img">
                      <img src="./assets/images/soutHeroImg.webp" alt="" />
                    </div>
                    <div class="news-hero__next-link"><img src="./assets/images/arr-right.svg" alt="" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="news-hero__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="news-hero__bg-swiper swiper" data-da=".news-hero__swiper-wrap, 768, first">
    <div class="swiper-wrapper">
      <div class="news-hero__bg-slide swiper-slide">
        <div class="news-hero__bg">
          <img src="./assets/images/newsHeroBg1.webp" alt="" />
        </div>
      </div>
      <div class="news-hero__bg-slide swiper-slide">
        <div class="news-hero__bg">
          <img src="./assets/images/envHeroImg.webp" alt="" />
        </div>
      </div>
      <div class="news-hero__bg-slide swiper-slide">
        <div class="news-hero__bg">
          <img src="./assets/images/soutHeroImg.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
