<section class="news section-wrap">
  <div class="news__container container">
    <div class="news__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Новости</p>
        <a href="#" class="accent-btn" data-da=".news__inner, 768, last">Все новости</a>
      </div>
      <div class="news__swiper-box flex dc">
        <div class="news__swiper swiper">
          <div class="news__swiper-wrapper swiper-wrapper">
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023</p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
            <div class="news__slide swiper-slide">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                 <img src="./assets/images/arr-right-yellow.svg" alt="">
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="news__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
