<section class="news-det-info">
  <div class="news-det-info__container container">
    <div class="news-det-info__inner flex">
      <div class="news-det-info__content txt18 light lh140">
        <p>
          REBELGROUP в очередной раз подтверждает свой статус одного из самых успешных партнёров года. Компания получила
          престижное звание «Мультиселлер года», став лидером по объёмам продаж, эффективности кампаний и качеству работы
          с брендами.
        </p>

        <h2>Признание, заслуженное результатами</h2>

        <img src="./assets/images/14.11.25/newsDetImg.webp" alt="" />
        <p>
          Награда «Мультиселлер года» — это не просто отметка за высокие цифры. Это признание системной работы, гибкости
          и способности адаптироваться к стремительно меняющемуся рынку. REBELGROUP уже не первый год демонстрирует выдающиеся
          результаты: компания стабильно входит в число лидеров по реализации промо-кампаний, достигает рекордных показателей
          конверсии и задаёт стандарты эффективности для индустрии.
          <br />
          За прошедший год команда реализовала десятки масштабных digital-проектов, охвативших миллионы пользователей. При этом
          особое внимание уделялось качеству коммуникаций, аналитике и пользовательскому опыту — трём ключевым составляющим
          устойчивого успеха
          <br />
          В основе успеха REBELGROUP — не только технологии и сильная команда, но и особый подход к стратегиям. Каждый проект
          здесь строится на глубоком понимании поведения аудитории, чётком анализе данных и креативных решениях, которые выделяют
          кампании на фоне конкурентов.
          <br />
          Компания умеет работать с разными брендами — от локальных стартапов до международных корпораций — подбирая для каждого
          индивидуальные инструменты продвижения и коммуникации. Именно эта универсальность позволила REBELGROUP стать
          мультиселлером, то есть агентством, которое эффективно реализует проекты сразу для нескольких направлений бизнеса.
        </p>
        <h2>Год рекордов и новых горизонтов</h2>
        <p>
          2025-й стал для REBELGROUP годом амбициозных задач и впечатляющих достижений. Компания не только укрепила позиции
          в digital-маркетинге, но и расширила спектр услуг, внедрив инновационные решения в сфере интерактивного контента, in-app
          форматов и персонализированных промо.
          <br />
          Особое внимание уделялось интеграции креатива и аналитики. Такой подход позволил не просто увеличивать охваты,
          но и формировать устойчивую лояльность пользователей — один из ключевых факторов долгосрочного успеха брендов‑партнёров.
        </p>
        <h2>Команда, которая делает невозможное</h2>
        <p>
          За каждым проектом REBELGROUP стоит команда экспертов — стратегов, дизайнеров, аналитиков и менеджеров, которые
          ежедневно создают, тестируют и совершенствуют инструменты продвижения.
          <br />
          Именно командная синергия, внимание к деталям и стремление к результату делают REBELGROUP примером для отрасли. Награда
          «Мультиселлер года» — это коллективное достижение, которое подтверждает высокий уровень профессионализма и сплочённость
          команды.
          <br />
          Получив звание «Мультиселлер года», REBELGROUP не собирается останавливаться на достигнутом. В планах компании —
          развитие новых направлений, усиление экспертизы в области искусственного интеллекта, а также запуск инновационных
          форматов, которые определят будущее digital-коммуникаций.
          <br />
          «Мы гордимся тем, что снова вошли в число абсолютных чемпионов. Но для нас это не финиш, а новая точка отсчёта.
          Мы продолжаем двигаться вперёд — с тем же драйвом, креативом и верой в силу данных и идей», — комментируют в команде
          REBELGROUP.
        </p>

        <br />
        <br />
        <p>
          REBELGROUP снова доказала: стабильность в digital — это не случайность, а результат системного подхода, страсти к делу
          и умения быть на шаг впереди.
        </p>
      </div>
      <div class="news-det-info__aside flex dc">
        <p class="txt32 upper">Другие новости</p>
        <div class="news-det-info__list-box flex dc">
          <ul class="news-det-info__list flex dc">
            <li class="news-det-info__item">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </li>
            <li class="news-det-info__item">
              <a href="#" class="news-el flex dc sb">
                <div class="news-el__title flex dc">
                  <p class="news-el__name txt24 light upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
                  <p class="txt16 light lh140 tertiary-color">12/07/2025</p>
                </div>

                <p class="news-el__desc txt16 light lh140">
                  30 ноября в Москве состоялась конференция Tinkoff eCommerce 2023 рассказывали о новостях и трендах, делились
                  советами и неожиданными инсайтами. Также на конференции вручили награды Tinkoff eCommerce Awards 2023, это
                  ежегодная отраслевая премия для героев рынка онлайн-торговли.
                </p>

                <div class="news-el__arr">
                  <img src="./assets/images/arr-right-yellow.svg" alt="" />
                </div>

                <div class="news-el__img">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
              </a>
            </li>
          </ul>

          <button class="news-det-info__more flex cv">
            <p class="txt24 upper accent-color">Загрузить еще</p>
            <div class="news-det-info__more-svg">
              <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.8007 36.713C20.1912 37.1035 20.8244 37.1035 21.2149 36.713L27.5789 30.349C27.9694 29.9585 27.9694 29.3253 27.5789 28.9348C27.1884 28.5443 26.5552 28.5443 26.1647 28.9348L20.5078 34.5916L14.851 28.9348C14.4604 28.5443 13.8273 28.5443 13.4367 28.9348C13.0462 29.3253 13.0462 29.9585 13.4367 30.349L19.8007 36.713ZM20.5078 4.00586L19.5078 4.00586L19.5078 36.0059L20.5078 36.0059L21.5078 36.0059L21.5078 4.00586L20.5078 4.00586Z"
                  fill="#FFC458"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
