<section class="news-det-hero _breadcrumbs">
  <div class="news-det-hero__container container">
    <div class="news-det-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Новости</a></li>
          <li><p>Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p></li>
        </ul>
      </nav>

      <div class="news-det-hero__content">
        <div class="news-det-hero__head flex dc">
          <p class="news-det-hero__time txt24 light upper">12/07/2025</p>

          <p class="txt50 upper">Абсолютные чемпионы: REBELGROUP снова стала мультиселлером года</p>
        </div>

        <div class="news-det-hero__swiper-box">
          <div class="news-det-hero__swiper swiper">
            <div class="news-det-hero__swiper-wrapper swiper-wrapper">
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/14.11.25/newsDetHeroImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/14.11.25/newsDetHeroImg.webp" alt="" />
                </a>
              </div>
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/14.11.25/newsDetImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/14.11.25/newsDetImg.webp" alt="" />
                </a>
              </div>
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/envHeroImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/envHeroImg.webp" alt="" />
                </a>
              </div>
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/14.11.25/newsDetHeroImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/14.11.25/newsDetHeroImg.webp" alt="" />
                </a>
              </div>
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/14.11.25/newsDetImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/14.11.25/newsDetImg.webp" alt="" />
                </a>
              </div>
              <div class="news-det-hero__slide swiper-slide">
                <a data-fancybox="gallery" data-src="./assets/images/envHeroImg.webp" class="news-det-hero__img">
                  <img src="./assets/images/envHeroImg.webp" alt="" />
                </a>
              </div>
              
            </div>
          </div>

          <div class="news-det-hero__btn-box swiper-btn-box flex cv">
            <button class="news-det-hero__btn news-det-hero__btn--prev swiper-button swiper-button-prev">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.29289 19.3027C2.90237 19.6932 2.90237 20.3263 3.29289 20.7169L9.65685 27.0808C10.0474 27.4714 10.6805 27.4714 11.0711 27.0808C11.4616 26.6903 11.4616 26.0571 11.0711 25.6666L5.41421 20.0098L11.0711 14.3529C11.4616 13.9624 11.4616 13.3292 11.0711 12.9387C10.6805 12.5482 10.0474 12.5482 9.65686 12.9387L3.29289 19.3027ZM36 20.0098L36 19.0098L4 19.0098L4 20.0098L4 21.0098L36 21.0098L36 20.0098Z"
                  fill="#ADC2C9"
                />
              </svg>
            </button>
            <button class="news-det-hero__btn news-det-hero__btn-next swiper-button swiper-button-next">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7071 20.7071C37.0976 20.3166 37.0976 19.6834 36.7071 19.2929L30.3431 12.9289C29.9526 12.5384 29.3195 12.5384 28.9289 12.9289C28.5384 13.3195 28.5384 13.9526 28.9289 14.3431L34.5858 20L28.9289 25.6569C28.5384 26.0474 28.5384 26.6805 28.9289 27.0711C29.3195 27.4616 29.9526 27.4616 30.3431 27.0711L36.7071 20.7071ZM4 20V21H36V20V19H4V20Z"
                  fill="#ADC2C9"
                />
              </svg>
            </button>
          </div>

          <div class="news-det-hero__pagin swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
