<section class="philosophy">
  <div class="philosophy__container container">
    <div class="philosophy__inner grid">
      <div class="philosophy__content flex dc sb">
        <p class="txt60 upper">Философия бренда Morgan's</p>

        <p class="philosophy__text txt18 light lh140">
          Morgan's гордится тем, что является независимым британским производителем, поскольку вся наша продукция полностью
          производится в Великобритании. От первоначальной формулы в нашей лаборатории до смешивания, наполнения, маркировки и
          упаковки — все происходит здесь.
          <br />
          <br />
          Мы гордимся высококачественными люксовыми продуктами для волос, бороды, бритья, одеколонами и спа-средствами, используя
          лучшее сырье, отобранное экспертами, и новейшие технологии.
        </p>
      </div>
      <div class="philosophy__img">
        <img src="./assets/images/philosophyImg.webp" alt="" />
      </div>
    </div>
  </div>
</section>
