<section class="relationships-hero _breadcrumbs">
  <div class="relationships-hero__container container">
    <div class="relationships-hero__inner flex dc">
      <div class="relationships-hero__content flex dc">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list txt16">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Работа</a></li>
            <li><p>Отношения в компании</p></li>
          </ul>
        </nav>

        <div class="relationships-hero__info flex dc">
          <p class="txt80 upper flex dc">
            <span class="accent-color">Отношения</span>
            в компании
          </p>
          <div class="relationships-hero__desc flex ev">
            <div class="relationships-hero__desc-img">
              <img src="./assets/images/relationshipsHeroImg2.webp" alt="" />
            </div>
            <div class="relationships-hero__desc-content">
              <p class="txt18 light lh140">
                Rebelgroup — это не просто команда, а сообщество людей, которым важно быть рядом и двигаться в одном направлении.
                Мы строим отношения на свободе самовыражения, поддержке и честности — так рождается настоящая сила и энергия для
                новых побед.
              </p>
              <a href="#" class="relationships-hero__btn accent-btn">Сотрудничать в нами</a>
            </div>
          </div>
        </div>
      </div>
      <div class="relationships-hero__img" data-da=".relationships-hero__desc-content, 768, 1">
        <img src="./assets/images/relationshipsHeroImg1.webp" alt="" />
      </div>
    </div>
  </div>
</section>
