<section class="relationships">
  <div class="relationships__container container">
    <div class="relationships__inner flex dc">
      <div class="relationships__head flex dc">
        <p class="txt60 upper">Отношения в компании</p>
        <p class="txt18 light lh140">
          Одной из отличительных черт работы в компании REBELGROUP является то, что для нас личностные качества первичны, а опыт
          работы вторичен. Мы берем к себе в команду только тех людей, кому созвучна наша миссия, кто разделяет наши ценности, и
          кто готов следовать нашим принципам ради общего результата.
        </p>
      </div>
      <ul class="relationships__list grid">
        <li class="relationships__item flex dc">
          <div class="relationships__item-head flex dc">
            <div class="relationships__item-svg">
                <img src="./assets/images/relationships1.svg" alt="">
            </div>
            <p class="txt24 upper">
              Взаимная
              <br />
              ответственность
            </p>
          </div>
          <p class="txt18 light lh140">
            Компания оформляет в штат с первого дня работы, гарантирует и выплачивает все компенсации официально в полном
            соответствии с ТК РФ. В свою очередь сотрудник понимает свою степень ответственности — у нас не принято отпрашиваться,
            опаздывать, лениться и проваливать поставленные задачи.
          </p>
          <div class="relationships__img">
            <img src="./assets/images/rg.svg" alt="" />
          </div>
        </li>
        <li class="relationships__item flex dc">
          <div class="relationships__item-head flex dc">
            <div class="relationships__item-svg">
                <img src="./assets/images/relationships2.svg" alt="">
            </div>
            <p class="txt24 upper">
              Открытый
              <br />
              диалог
            </p>
          </div>
          <p class="txt18 light lh140">
            Каждый член команды имеет полное право сказать, сообщить, предложить то, что позитивно повлияет на его работу и работу
            компании, и он будет услышан. Также каждый член команды имеет полное право на честную обратную связь в отношении своей
            работы, успехов и неудач от руководителя и коллег.
          </p>
          <div class="relationships__img">
            <img src="./assets/images/rg.svg" alt="" />
          </div>
        </li>
        <li class="relationships__item flex dc">
          <div class="relationships__item-head flex dc">
            <div class="relationships__item-svg">
                <img src="./assets/images/relationships3.svg" alt="">
            </div>
            <p class="txt24 upper">
              Вежливость
              <br />
              и уважение
            </p>
          </div>
          <p class="txt18 light lh140">
            В коллективе мы общаемся на «ты», при этом мы категорически против оскорблений, разговоров на повышенных тонах,
            неуместных и неприятных шуток, токсичности и предвзятости к кому‑либо. Любую проблему мы решаем до полного
            её исчерпания мирным путём, чтобы двигаться дальше.
          </p>
          <div class="relationships__img">
            <img src="./assets/images/rg.svg" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
