<section class="sout-hero _breadcrumbs">
  <div class="sout-hero__container container">
    <div class="sout-hero__inner flex dc">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt16">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Работа</a></li>
          <li><p>СОУТ</p></li>
        </ul>
      </nav>

      <div class="sout-hero__content flex dc">
        <div class="sout-hero__info flex">
          <div class="sout-hero__img" data-da=".sout-hero__text, 768, 1 ">
            <img src="./assets/images/soutHeroImg.webp" alt="" />
          </div>
          <div class="sout-hero__text flex dc">
            <p class="txt18 light lh140">
              В Rebelgroup мы заботимся о безопасности и комфорте сотрудников. Для этого проводится специальная оценка условий
              труда (СОУТ) — комплексная проверка рабочих мест, которая позволяет выявить и минимизировать возможные риски.
            </p>

            <a href="#" class="accent-btn">Подробнее</a>
          </div>
        </div>
        <p class="txt80 upper flex dc">
          <span class="accent-color">Специальная оценка</span>
          условий труда
        </p>
      </div>

      <div class="sout-hero__bg">
        <img src="./assets/images/soutHeroBg.webp" alt="" />
      </div>
    </div>
  </div>
</section>
