<!-- есть вакансии -->

<section class="vacancies ">
  <div class="vacancies__container container">
    <div class="vacancies__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Вакансии rebelgroup</p>
        <a href="#" class="accent-btn" data-da=".vacancies__inner, 768, last">все вакансии</a>
      </div>
      <p class="txt18 light lh140" data-da=".vacancies__swiper-box, 768, first">
        Ссылка на hh.ru
        <a href="https://spb.hh.ru/employer/3246745?hhtmFrom=vacancy" class="accent-color">REBELGROUP</a>
      </p>
      <div class="vacancies__swiper-box flex dc">
        <div class="vacancies__swiper swiper">
          <div class="vacancies__swiper-wrapper swiper-wrapper">
            <div class="vacancies__slide swiper-slide">
              <a href="#" class="vacancies__slide-link flex dc sb">
                <div class="vacancies__slide-title flex dc">
                  <p class="txt32 upper">
                    Менеджер по продажам
                    <br />
                    /Sales manager (b2b)
                  </p>
                  <div class="vacancies__slide-info flex cv txt18 light lh140">
                    <p>Опыт работы: 1–3 года</p>
                    |
                    <p>График: 5/2</p>
                  </div>
                </div>
                <div class="vacancies__slide-footer flex cv">
                  <div class="vacancies__slide-svg">
                    <img src="./assets/images/salary.svg" alt="" />
                  </div>
                  <p class="txt20 upper">от 80 000 до 250 000 ₽  за месяц, на руки</p>
                </div>

                <div class="vacancies__slide-arr">
                  <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M36.7071 21.2071C37.0976 20.8166 37.0976 20.1834 36.7071 19.7929L30.3431 13.4289C29.9526 13.0384 29.3195 13.0384 28.9289 13.4289C28.5384 13.8195 28.5384 14.4526 28.9289 14.8431L34.5858 20.5L28.9289 26.1569C28.5384 26.5474 28.5384 27.1805 28.9289 27.5711C29.3195 27.9616 29.9526 27.9616 30.3431 27.5711L36.7071 21.2071ZM4 20.5V21.5H36V20.5V19.5H4V20.5Z"
                      fill="#FFC458"
                    />
                  </svg>
                </div>
              </a>
            </div>
            <div class="vacancies__slide swiper-slide">
              <a href="#" class="vacancies__slide-link flex dc sb">
                <div class="vacancies__slide-title flex dc">
                  <p class="txt32 upper">
                    Менеджер по продажам
                    <br />
                    /Sales manager (b2b)
                  </p>
                  <div class="vacancies__slide-info flex cv txt18 light lh140">
                    <p>Опыт работы: 1–3 года</p>
                    |
                    <p>График: 5/2</p>
                  </div>
                </div>
                <div class="vacancies__slide-footer flex cv">
                  <div class="vacancies__slide-svg">
                    <img src="./assets/images/salary.svg" alt="" />
                  </div>
                  <p class="txt20 upper">от 80 000 до 250 000 ₽  за месяц, на руки</p>
                </div>
              </a>
            </div>
            <div class="vacancies__slide swiper-slide">
              <a href="#" class="vacancies__slide-link flex dc sb">
                <div class="vacancies__slide-title flex dc">
                  <p class="txt32 upper">
                    Менеджер по продажам
                    <br />
                    /Sales manager (b2b)
                  </p>
                  <div class="vacancies__slide-info flex cv txt18 light lh140">
                    <p>Опыт работы: 1–3 года</p>
                    |
                    <p>График: 5/2</p>
                  </div>
                </div>
                <div class="vacancies__slide-footer flex cv">
                  <div class="vacancies__slide-svg">
                    <img src="./assets/images/salary.svg" alt="" />
                  </div>
                  <p class="txt20 upper">от 80 000 до 250 000 ₽  за месяц, на руки</p>
                </div>
              </a>
            </div>
            <div class="vacancies__slide swiper-slide">
              <a href="#" class="vacancies__slide-link flex dc sb">
                <div class="vacancies__slide-title flex dc">
                  <p class="txt32 upper">
                    Менеджер по продажам
                    <br />
                    /Sales manager (b2b)
                  </p>
                  <div class="vacancies__slide-info flex cv txt18 light lh140">
                    <p>Опыт работы: 1–3 года</p>
                    |
                    <p>График: 5/2</p>
                  </div>
                </div>
                <div class="vacancies__slide-footer flex cv">
                  <div class="vacancies__slide-svg">
                    <img src="./assets/images/salary.svg" alt="" />
                  </div>
                  <p class="txt20 upper">от 80 000 до 250 000 ₽  за месяц, на руки</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="vacancies__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<!-- нет вакансий -->

<section class="vacancies vacancies-empty"> 
  <div class="vacancies__container container">
    <div class="vacancies__inner flex dc">
      <div class="flex cv sb">
        <p class="txt60 upper">Вакансии rebelgroup</p>
      </div>
      <p class="txt18 light lh140" data-da=" .vacancies-empty .vacancies__swiper-box, 768, first">
        Ссылка на hh.ru
        <a href="https://spb.hh.ru/employer/3246745?hhtmFrom=vacancy" class="accent-color">REBELGROUP</a>
      </p>
      <div class="vacancies__swiper-box flex dc">
        <div class="vacancies__empty flex dc cv center">
          <div class="vacancies__empty-text flex dc">
            <p class="txt32 upper">На данный момент вакансии отсутствуют</p>
            <p class="txt18 light lh140">
              Сейчас в нашей компании нет открытых позиций, но мы регулярно обновляем раздел. Заглядывайте позже — возможно,
              именно вас мы ищем. Актуальные вакансии также можно найти на
              <a href="#" class="link-under">hh.ru</a>
              .
            </p>
          </div>
          <a href="#" class="accent-btn">перейти на hh.ru</a>
        </div>
      </div>
    </div>
  </div>
</section>
