<section class="vacancies-hero _breadcrumbs">
  <div class="vacancies-hero__container container">
    <div class="vacancies-hero__inner">
      <div class="vacancies-hero__content flex dc">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list txt16">
            <li><a href="#">Главная</a></li>
            <li><p>ДНК</p></li>
          </ul>
        </nav>

        <div class="vacancies-hero__info flex dc">
          <p class="txt110 upper flex dc">
            <span class="accent-color">вакансии</span>
            rebelgroup
          </p>

          <div class="vacancies-hero__desc txt20 light lh140">
            Мы ищем людей, которые не боятся идти против шаблонов и создавать новое. В Rebelgroup ценят инициативность, креатив и
            умение работать в команде. У нас вы сможете реализовать самые смелые идеи, расти профессионально и быть частью
            проектов, которые меняют рынок.
          </div>
        </div>
      </div>
      <div class="vacancies-hero__img-wrap">
        <div class="vacancies-hero__review-box flex cv">
          <div class="vacancies-hero__review-text">
            <p class="txt24 upper">rebelgroup</p>
            <div class="vacancies-hero__review-grade flex cv">
              <p class="txt15">4.5</p>
              <div class="vacancies-hero__review-stars flex cv">
                <div class="vacancies-hero__review-star">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
                <div class="vacancies-hero__review-star">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
                <div class="vacancies-hero__review-star">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
                <div class="vacancies-hero__review-star">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
                <div class="vacancies-hero__review-star">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="vacancies-hero__review-logo">
            <img src="./assets/images/hh.webp" alt="" />
          </div>
        </div>
        <div class="vacancies-hero__img">
          <img src="./assets/images/vacanciesHero.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
