<section class="values values-anim section-wrap">
  <!-- Дескотп -->
  <div class="values-anim__container container">
    <div class="values-anim__inner flex dc">
      <div class="values-anim__content flex dc">
        <p class="txt60 upper">
          Наши
          <br />
          ценности
        </p>

        <div class="values-anim__list-box">
          <div class="values-anim__list">
            <div class="values-anim__list-wrapper">
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values1.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Осознанное развитие</p>
                  <p class="txt16 light lh140">
                    Мы регулярно достигаем высоких результатов и совершенствуемся. Учимся у лучших и друг у друга. Делаем лучшее,
                    на что способны.
                  </p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values2.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Ответственность за общий результат </p>
                  <p class="txt16 light lh140">
                    Мы ответственны перед клиентами и честны с сотрудниками и собой. Пообещали —сделали.
                  </p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values3.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Любим то, что делаем </p>
                  <p class="txt16 light lh140">Мы кайфуем от работы. Мои результаты — это результаты моего труда.</p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values4.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Достижение результата </p>
                  <p class="txt16 light lh140">
                    Мы работаем на достижение общих целей. Концентрируемся на том, что ведет к реальному результату.
                  </p>
                </div>
              </div>

              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values5.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Скорость действий </p>
                  <p class="txt16 light lh140">
                    Мы действуем из парадигмы "Результат сегодня утром ценнее, чем тот же результат сегодня вечером".
                  </p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values6.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Компания как одна команда </p>
                  <p class="txt16 light lh140">
                    Мы работаем на общий результат. Гол забивает форвард, но игру выигрывает команда.
                  </p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values7.svg" alt="" />
                  </div>
                  <p class="txt20 upper">Клиентоориентированность  </p>
                  <p class="txt16 light lh140">
                    Создаем эффективные партнерские отношения с клиентами по принципу win-win, где клиенты получают качественный
                    продукт, высокий уровень сервиса и внимания, а взаменстабильно приносят компании постоянно растущую прибыль.
                  </p>
                </div>
              </div>
              <div class="values-anim__item">
                <div class="value-el flex dc">
                  <div class="value-el__svg">
                    <img src="./assets/images/values8.svg" alt="" />
                  </div>
                  <p class="txt20 upper"> Счастливые сотрудники </p>
                  <p class="txt16 light lh140">
                    Создаем комфортную среду для сотрудников по принципу win-win, когда компания исотрудники максимально лояльны
                    друг к другу и приносят пользу.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="values-anim__img-swiper swiper">
        <div class="values-anim__img-swiper-wrapper swiper-wrapper">
          <div class="values-anim__img-slide swiper-slide">
            <div class="values-anim__img-box">
              <img src="./assets/images/valuesAnim1.webp" alt="" />
            </div>
          </div>
          <div class="values-anim__img-slide swiper-slide">
            <div class="values-anim__img-box">
              <img src="./assets/images/valuesAnim2.webp" alt="" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Мобилка -->
  <div class="values__container container">
    <div class="values__inner flex dc">
      <p class="txt60 upper">Наши ценности</p>
      <div class="values__swiper-box">
        <div class="values__swiper swiper swiper-grid">
          <div class="values__swiper-wrapper swiper-wrapper">
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values1.svg" alt="" />
                </div>
                <p class="txt20 upper">Осознанное развитие</p>
                <p class="txt16 light lh140">
                  Мы регулярно достигаем высоких результатов и совершенствуемся. Учимся у лучших и друг у друга. Делаем лучшее, на
                  что способны.
                </p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values2.svg" alt="" />
                </div>
                <p class="txt20 upper">Ответственность за общий результат </p>
                <p class="txt16 light lh140">
                  Мы ответственны перед клиентами и честны с сотрудниками и собой. Пообещали —сделали.
                </p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values3.svg" alt="" />
                </div>
                <p class="txt20 upper">Любим то, что делаем </p>
                <p class="txt16 light lh140">Мы кайфуем от работы. Мои результаты — это результаты моего труда.</p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values4.svg" alt="" />
                </div>
                <p class="txt20 upper">Достижение результата </p>
                <p class="txt16 light lh140">
                  Мы работаем на достижение общих целей. Концентрируемся на том, что ведет к реальному результату.
                </p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values5.svg" alt="" />
                </div>
                <p class="txt20 upper">Скорость действий </p>
                <p class="txt16 light lh140">
                  Мы действуем из парадигмы "Результат сегодня утром ценнее, чем тот же результат сегодня вечером".
                </p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values6.svg" alt="" />
                </div>
                <p class="txt20 upper">Компания как одна команда </p>
                <p class="txt16 light lh140">Мы работаем на общий результат. Гол забивает форвард, но игру выигрывает команда.</p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values7.svg" alt="" />
                </div>
                <p class="txt20 upper">Клиентоориентированность  </p>
                <p class="txt16 light lh140">
                  Создаем эффективные партнерские отношения с клиентами по принципу win-win, где клиенты получают качественный
                  продукт, высокий уровень сервиса и внимания, а взаменстабильно приносят компании постоянно растущую прибыль.
                </p>
              </div>
            </div>
            <div class="values__slide swiper-slide">
              <div class="value-el flex dc">
                <div class="value-el__svg">
                  <img src="./assets/images/values8.svg" alt="" />
                </div>
                <p class="txt20 upper"> Счастливые сотрудники </p>
                <p class="txt16 light lh140">
                  Создаем комфортную среду для сотрудников по принципу win-win, когда компания исотрудники максимально лояльны
                  друг к другу и приносят пользу.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="values__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
