<section class="video">
  <div class="video__container container">
    <div class="video__inner flex dc">
      <p class="txt60 upper">Видео</p>
      <div class="video__list">
        <div class="video__video-wrap">
          <a href="#" data-fancybox="" data-src="./assets/images/videoTest.mp4" class="video__video">
            <video class="" preload="metadata">
              <source src="./assets/images/videoTest.mp4" type="video/mp4" />
            </video>
          </a>
          <div class="video__video-play">
            <img src="./assets/images/play.svg" alt="" />
          </div>
        </div>
        <div class="video__video-wrap">
          <a href="#" data-fancybox="" data-src="./assets/images/videoTest.mp4" class="video__video">
            <video class="" preload="metadata">
              <source src="./assets/images/videoTest.mp4" type="video/mp4" />
            </video>
          </a>
          <div class="video__video-play">
            <img src="./assets/images/play.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
