<section class="what-sout">
  <div class="what-sout__container container">
    <div class="what-sout__inner flex dc">
      <div class="what-sout__head flex sb">
        <p class="what-sout__billet txt16 light lh140 tertiary-color">соут</p>
        <p class="txt60 upper">что такое Специальная оценка условий труда</p>
      </div>
      <div class="what-sout__content">
        <div class="what-sout__img">
          <img src="./assets/images/whatSoutImg.webp" alt="" />
        </div>
        <div class="what-sout__text-wrap txt18 light lh140 flex dc">
          <div class="what-sout__text flex dc">
            <p>
              В компании проводится специальная оценка условий труда (СОУТ) в соответствии с требованиями законодательства. Это
              процедура, направленная на выявление и анализ факторов производственной среды и трудового процесса, которые могут
              повлиять на здоровье сотрудников.
            </p>

            <div class="what-sout__list-box flex dc">
              <p class="txt20 upper">Цели СОУТ:</p>

              <ol class="what-sout__list flex dc">
                <li>Обеспечить соответствие рабочих мест требованиям законодательства.</li>
                <li>Создать безопасные и комфортные условия для работы.</li>
                <li>Разработать меры по улучшению охраны труда.</li>
              </ol>
            </div>
          </div>
          <div class="what-sout__important">
            <p>
              Результаты специальной оценки помогают нам поддерживать высокие стандарты охраны труда, своевременно улучшать
              рабочие места и заботиться о благополучии каждого сотрудника.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
