@import './mixins';
@import './flexs';

$dark: #153842;
$primary-bg: #367;
$background: rgba(96, 118, 125, 0.3);
$accent: #ffc458;
$accentHover: #ffd78c;
$stroke: #adc2c9;
$stroke-secondary: rgba(173, 194, 201, 0.5);
$text-primary: #fff;
$text-secondary: #919b9e;
$tertiary-text: rgba(255, 255, 255, 0.5);

@include desk-only {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    // overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

body {
  color: $text-primary;
  background: $primary-bg url('./assets/images/bg.svg') no-repeat top/cover;
  font-family: 'Geologica';
  @include small-tablet {
    background: $primary-bg url('./assets/images/bgMob.svg') no-repeat top/cover;
  }
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  &.no-scroll {
    overflow: hidden !important;
    touch-action: none !important;
    width: 100vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;

  // overflow: hidden;
}

* {
  // outline:  1px solid red;
}
// main
main {
  flex-grow: 1;
  section {
    padding: 60rem 0;
    @include small-tablet {
      padding: 30rem 0;
    }
    &._first {
      padding: 0;
    }
    &._breadcrumbs {
      padding: 125rem 0 60rem;
      @include small-tablet {
        padding: 65rem 0 30rem;
      }
    }
  }
}

.desktop {
  display: flex;
  @include small-tablet {
    display: none;
  }
}

.mobile {
  display: none;

  @include small-tablet {
    display: flex;
  }
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.cv {
  align-items: center;
}
.sb {
  justify-content: space-between;
}
.jfe {
  justify-content: flex-end;
}
.dc {
  flex-direction: column;
}
.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* .values__swiper */

.swiper-grig {
  width: 100%;
  @include small-tablet {
    width: calc(100% + 20rem);
    margin: -6rem -10rem !important;
    overflow: visible !important;
  }

  & .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 40rem;

    @include small-tablet {
      display: flex !important;
      flex-direction: row !important;
      gap: 0rem;
    }
    @include desk-only {
      width: 100% !important;
      transform: none !important;
    }
  }

  & .swiper-slide {
    height: auto !important;
    @include small-tablet {
      padding: 6rem 12rem;
    }
  }
}

.swiper-pagination {
  position: static !important;
  & .swiper-pagination-bullet {
    transition: all 0.3s !important;
    background: $tertiary-text;
  }
  & .swiper-pagination-bullet-active {
    background: $text-primary;
  }
}

@import './ui/ui';
